@import url("../../common/colors.css");

.drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 80%;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}
.drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#image {
  display: none;
}
#doc {
  display: none;
}
#file-preview {
  margin-top: 10px;
  color: var(--file-preview-text);
}
.file-preview-div {
    position:relative;
}
.file-preview-name{
    display:inline-block;
}
.file-preview-button{
    display:inline-block;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    background-color:rgba(192,192,192,0.5);
}
.file-preview-button:hover{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    background-color:rgba(192,192,192,0.1);
    cursor: pointer;
}
