:root {


    --login-bg-color: #A8A8A8;
    --login-back-box-bg-color: #404040;
    --login-front-box-bg-color: #ffffff;
    --login-signup-btn-back-box-bg-color: #404040;
    --login-signup-btn-front-box-bg-color: #35B729;


    --side-menu: #e8e8e8;
    --left-side-menu: #121212;
    --side-menu-text: #b8b8b8;

    --side-menu-logo-bg: #121212;
    --side-menu-logo-bg-right: #e8e8e8;

    --dashboard-bg: #121212;


    /* marketplace post */
    --file-preview-text: #fff;
}