<td id="index-dashboard" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/project/project.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/market/market.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/market/post.css') }}">
    <script>
        const IMG_PATH_SUN = "{{ url_for('static', filename='img/brush23.png') }}";
        const IMG_PATH_PLANET = "{{ url_for('static', filename='img/cell.png') }}";
        const PROJECT_PATH = "{{ url_for('static', filename='js/dashboard/data.json') }}";
    </script>
    <svg id="PROJECT"></svg>
    <div id="MARKET"></div>
    <div id="EDITOR"></div>
    <script src="{{ url_for('static', filename='js/dashboard/wrapper.js') }}" charset="utf-8"></script>

    <script src="{{ url_for('static', filename='js/dashboard/project/linker.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/dashboard/project/init.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/dashboard/project/shaders.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/dashboard/project/control.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/dashboard/project/main.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/dashboard/project/paths.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/dashboard/project/overlay.js') }}" charset="utf-8"></script>

    <script src="{{ url_for('static', filename='js/dashboard/market/linker.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/dashboard/market/market.js') }}" charset="utf-8"></script>
    <script>
    </script>
</td>
