<td id="index-dashboard" >
    <script>
        const IMG_PATH_SUN = "{{ url_for('static', filename='img/zemlja.jpg') }}";
        const IMG_PATH_PLANET = "{{ url_for('static', filename='img/zemlja.jpg') }}";
        const PROJECT_PATH = "{{ url_for('static', filename='js/dashboard/data.json') }}";
    </script>
    <svg id="SVG"></svg>
    <script src="{{ url_for('static', filename='js/dashboard/init.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/dashboard/shaders.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/dashboard/control.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/dashboard/main.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/dashboard/paths.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/dashboard/wrapper.js') }}" charset="utf-8"></script>
    <script>
    </script>
</td>
