<div class="topbar d-flex">
    <div class="align-self-center align-middle d-flex w-100">
        <div id="terminal-main" class="terminal d-inline-flex" onfocusout="onFocusOut();">
            <input type="text" class="terminal-input ps-2" id="terminal-input" onkeypress="terminalListen(event)" 
                onfocus="onFocus();" placeholder="TAG, SEARCH, CREATE...">
                
            <span id="terminal-span" class="terminal-x" 
            title="Clear Terminal" style="display: none;" onclick="deleteTerminalInput()">✕</span>
        </div>

        <div class="info-path ms-2 d-inline-flex">
            <span class="info-path-text"></span>
        </div>

        <div class="ms-auto d-inline-flex mt-1 me-5">
            <span class="material-icons align-middle" onclick="ToggleTheme();">lightbulb</span>
        </div>
    </div>

</div>