.effect.star {
    fill : url('#gradient_eclipse');
    filter: url('#filter_eclipse_sun');
}

.star.background {
    /* fill : url("#patern_planet_file"); */
    fill: var(--sun-bg);
    stroke: gray;
    stroke-width: 2;
}

.background.planet.folder {
    /* fill : url("#patern_planet_folder"); */
}
.background.planet.empty {
    /* fill : url("#patern_planet_empty"); */
}

.pattern.path {
    fill: #121212;
    stroke: rgba(250,250,250,0.2);
    stroke-width: 2;
}

.star.pattern {
    fill: none;
}

.planet.background {
    /* fill : url("#patern_planet_file"); */
    fill: var(--planet-bg);
    stroke: var(--planet-stroke);
    stroke-width: 0;

    transition: stroke, 100ms linear;
}

.planet.pattern {
    fill: none;
}

.planet.background.file
{
    stroke-width: 5;
    /*stroke-dasharray: 3;*/
}

.planet.pattern.file
{
    /* add style */
}

.planet.pattern.project
{
    /* add style */
}

.planet.background.project
{
    /* add style */
    stroke-width: 10;
    stroke: green;
}

.planet.background.shared {
    stroke-width: 10;
    stroke: var(--neon-blue);
}

.planet:hover .planet.background
{
    stroke: var(--neon-blue);
    stroke-width: 3;
}

/*The FOLDER Planet*/
.planet.pattern.folder {
    /*stroke: rgba(30, 118, 190, 0.5);*/
    stroke: none;
    /*opacity: 50%;*/
}

/*The EMPTY FOLDER Planet*/
.planet.pattern.empty {
    /*stroke: rgba(190, 30, 20, 0.5);*/
    stroke: none;
    /*stroke: var(--shadow);
    stroke-width: 3;
    stroke-dasharray: 3;*/
    /*opacity: 50%;*/
}

.star.shader {
    fill : url("#gradient_shadow_sun");
    /*fill: var(--sun-bg);*/
    /*stroke: rgba(250, 250, 250, 0.5);
    stroke-width: 2;  */
    /*fill: none;*/
}

.star.gloss {
    /* fill : url("#patern_planet_file"); */
    fill: none;
}

.planet.shader {
    fill : url("#gradient_shadow");
    stroke: 0;
    stroke-width: 0;
}

.planet.gloss {
    /* fill : url("#patern_planet_file"); */
    fill: none;
}

.select {
    fill: rgba(0, 0, 0, 0);
    stroke: none;
}

.select:hover {
    cursor: pointer;
    /* fill: rgba(230,254,255,0.3); */
    fill:  rgba(0, 0, 0, 0);
}

.overlay.pattern {
    fill: rgba(18, 18, 18, 0.5);
    /* stroke: rgb(204, 204, 204); */
    /* stroke-opacity: 0.9; */
}

.overlay.select {
    fill: rgba(0, 0, 0, 0.0);
}

.selection.pattern {
    fill: rgba(18, 18, 18, 0.5);
}
.selection.pattern.single {
    fill: rgba(255, 136, 0, 0.3);
}
.selection.pattern.file {
    fill: rgba(255, 238, 0, 0.3);
}
.selection.pattern.folder {
    fill: rgba(0, 140, 255, 0.3);
}
.selection.pattern.mix {
    fill: rgba(30, 255, 0, 0.3);
}
.selection.select {
    fill: rgba(0, 0, 0, 0.0);
}

.move.pattern.move {
    fill: rgb(70, 178, 245);
}
.move.pattern.copy {
    fill: rgb(45, 240, 100);
}
.move.select {
    fill: rgba(0, 0, 0, 0.0);
}

text{
    font-family: 'Lato', Courier, monospace;
    font-weight: bold;
    letter-spacing: 1px;
}

text.text_back {
    fill: rgb(0, 0, 0);
    filter: url("#filter_shadow");
    text-anchor: middle;
    display: none;
}

/*Text inside the planets and couple of other places, like bellow Undo*/
text.text_front {
    fill: var(--text-primary); /*rgb(250, 250, 250);*/
    text-anchor: middle;
}

/*Text above, like Select All and Clear All*/
text.text_allgroup {
    fill: var(--dashboard-text); /*rgb(250, 250, 250);*/
    font-size: 20px;
    cursor: pointer;
}

/*Vertical Line for the text above | , like the one between Select All | Clear All*/
rect.text_allgroup {
    fill: var(--dashboard-text); /*rgb(250, 250, 250);*/
}

g.star.object > g.text > text {
    font-size: 1.3em;
}
g.star.overlay > g.text > text {
    font-size: 1em;
}
g.planet.object > g.text > text {
    font-size: .9em;
}
g.path.draw > g.text > text {
    font-family: 'Lato', Courier, monospace;
    font-size: 18px;
    text-anchor: start;
}

.foregin {
    text-align: center;
    vertical-align: middle;
}
.foregin .material-icons.sun{
    color: #bcbcbc;
}
.foregin .material-icons.planet{
    color: var(--bg-primary);
    /* background-color: black; */
}
.foregin .material-icons.planet.select{
    color: var(--bg-primary);
    /* background-color: #00000000; */
}

.foregin .material-icons.history{
    color: #bcbcbc;
}

.show
{
    opacity: 1 !important;
}

.planet-select
{
    opacity: 0;
    transition: opacity 200ms ease;
}

.planet.select:hover + .planet-select,
.planet-select:hover
{
    opacity: 1;
}

.overlay-menu
{
    opacity: 0;
    transition: opacity 500ms linear;
}

.overlay-menu:hover
{
    opacity: 1;
}

.overlay-menu-items
{
    cursor: pointer;
}

.overlay-menu-items > *:hover
{
    /* add rules overlay item hover */
}

.overlay-dark
{
    color: var(--text-light);
}

.overlay-light
{
    color: var(--text-dark);
}

.context-menu-wrapper, .create-menu-wrapper
{
    position: absolute;
    height: auto;
    vertical-align: top;
    transition: height .25s ease;
    z-index: 5;
    box-shadow: 0 0 1em var(--shadow);
}

.context-menu, .create-menu
{
    min-width: 10em;
    height: fit-content;
}

.context-menu-item, .create-menu-item
{
    position: relative;
    display: block;
    padding: .25em .5em;
    width: 100%;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    cursor: pointer;
}

.context-menu-item > *, 
.create-menu-item > *
{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 7;
}

.context-menu-item-icon,
.create-menu-item-icon
{
    width: fit-content;
}

.context-menu-item-name,
.create-menu-item-name
{
    text-transform: capitalize;
    width: fit-content;
}

.context-menu-item-bg,
.create-menu-item-bg
{
    position: absolute;
    top: 0;
    left: 0;

    line-height: 100%;

    width: 0;
    height: 100%;

    z-index: 6 !important;

    background-color: var(--bg-primary);
    transition: width .5s ease;
}

.context-menu-item:hover .context-menu-item-bg,
.create-menu-item:hover .create-menu-item-bg
{
    width: 100%;
    border-left: 4px solid var(--neon-blue);
}

.slider.rect{
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(97, 97, 97, 0.5);
    stroke-width: 2;
}

.slider.bground{
    fill: rgba(255, 255, 255, 0);
}

.slider.pos{
    fill: rgba(121, 121, 121, 1);
}

#select-area
{
    border: 1px solid var(--planet-stroke);
    position: absolute;
    background-color: rgba(var(--neon-blue), 0.25);
}

.grid-link
{
    display: inline-block !important;
    width: fit-content;
    font-weight: bold;
    cursor: pointer;
}

i.card-color
{
    display: inline-block;
    width: 20px;
    height: 20px;
}

i.card-color:hover {
    border: 2px solid var(--neon-blue);
}

i.card-color.selected {
    border: 3px solid var(--neon-blue);
}

a:hover {
    color: var(--link-hover)
}

#planet-orbit
{
    stroke: var(--planet-bg);
    stroke-width: 1;
    fill: transparent;
}