.background.star {
    /* fill : url("#patern_planet_file"); */
    fill: none;
}
.background.planet {
    /* fill : url("#patern_planet_file"); */
    fill: none;
}
.background.planet.dir {
    /* fill : url("#patern_planet_folder"); */
    fill: none;
}
.background.planet.empty {
    /* fill : url("#patern_planet_empty"); */
    fill: none;
}

.pattern.path {
    fill: #121212;
    stroke: rgba(250,250,250,0.2);
    stroke-width: 2;
}
.pattern.star {
     /*fill: linear-gradient(180deg, #22447a 5.11%, #2a3541 150%);*/
    /*fill : url("#patern_sun_fix"); */
     fill: var(--cur-sun-default-bg);
    /*stroke: none;*/
     stroke: rgba(250,250,250,0.25);
    stroke-width: 1;
}
.pattern.planet {
    /* fill: linear-gradient(180deg, #22447a 5.11%, #2a3541 150%); */
    /*fill : url("#patern_planet_fix");*/
    fill: var(--cur-planet-default-bg);
    /*stroke: none;*/
    stroke: rgba(250, 250, 250, 0.7);
    stroke-width: 2;
    /*opacity: 50%;*/
}
.pattern.planet.dir{
    /*stroke: rgba(30, 118, 190, 0.5);*/
    stroke: none;
    /*opacity: 50%;*/
}
.pattern.planet.empty{
    /*stroke: rgba(190, 30, 20, 0.5);*/
    stroke: rgba(250, 250, 250, 0.5);
    stroke-width: 2;
    stroke-dasharray: 3;
    /*opacity: 50%;*/
}

.shader.star {
    fill : url("#gradient_shadow_sun");
    /* fill: none; */
}
.shader.planet {
    fill : url("#gradient_shadow");
    stroke: 0;
    stroke-width: 0;
}

.gloss.star {
    /* fill : url("#patern_planet_file"); */
    fill: none;
}
.gloss.planet {
    /* fill : url("#patern_planet_file"); */
    fill: none;
}

.select {
    fill: rgba(0, 0, 0, 0);
    stroke: none;
}
.select:hover {
    cursor: pointer;
    fill: rgba(230,254,255,0.3);
}

.overlay.pattern {
    fill: rgba(18, 18, 18, 0.5);
    /* stroke: rgb(204, 204, 204); */
    /* stroke-opacity: 0.9; */
}
.overlay.select {
    fill: rgba(0, 0, 0, 0.0);
}

.selection.pattern {
    fill: rgba(18, 18, 18, 0.5);
}
.selection.pattern.single {
    fill: rgba(255, 136, 0, 0.3);
}
.selection.pattern.file {
    fill: rgba(255, 238, 0, 0.3);
}
.selection.pattern.folder {
    fill: rgba(0, 140, 255, 0.3);
}
.selection.pattern.mix {
    fill: rgba(30, 255, 0, 0.3);
}
.selection.select {
    fill: rgba(0, 0, 0, 0.0);
}

.move.pattern.move {
    fill: rgba(192, 84, 41, 1);
}
.move.pattern.copy {
    fill: rgba(192, 41, 41, 1);
}
.move.select {
    fill: rgba(0, 0, 0, 0.0);
}

text{
    font-family: 'Lato', Courier, monospace;
    font-weight: bold;
    letter-spacing: 1px;
}
text.text_back {
    fill: rgb(0, 0, 0);
    filter: url("#filter_shadow");
    text-anchor: middle;
}
text.text_front {
    fill: rgb(250, 250, 250);
    text-anchor: middle;
}
text.text_allgroup {
    fill: rgb(250, 250, 250);
    font-size: 20px;
    cursor: pointer;
}
rect.text_allgroup {
    fill: rgb(250, 250, 250);
}

g.star.object > g.text > text {
    font-size: 20px;
}
g.star.overlay > g.text > text {
    font-size: 20px;
}
g.planet.object > g.text > text {
    font-size: 14px;
}
g.path.draw > g.text > text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-anchor: start;
}

.foregin {
    text-align: center;
    vertical-align: middle;
}
.foregin .material-icons.sun{
    color: #bcbcbc;
}
.foregin .material-icons.planet{
    color: #ffffff;
    background-color: black;
}
.foregin .material-icons.planet.select{
    color: #ffffff;
    background-color: #00000000;
}

.foregin .material-icons.history{
    color: #bcbcbc;
}