.project-tab{
    height: 5%;
    margin-bottom: 5%;
}

.project-box{
    display: block;
    float: left;
    width: 30%;
    border-bottom: 1px solid gray;
    margin: 1%;
    text-overflow: clip;
    /* padding: 1%; */
}

.project-box:hover{
    border-bottom: 4px solid gray;
    cursor: pointer;
}

.project-box.selected {
    border-bottom: 4px solid black;
    cursor: pointer;
}

.project-view{
    height: 100%;
}