.project-tab{
    height: 5%;
    margin-bottom: 5%;
}

.project-box{
    display: block;
    float: left;
    width: 30%;
    border: 1px solid gray;
    margin: 1%;
    text-overflow: clip;
    /* padding: 1%; */
}

.project-box:hover{
    background: honeydew;
    cursor: pointer;
}

.project-view{
}