.project-tab{
    height: 5%;
    margin-bottom: 5%;
}

.project-box{
    display: block;
    float: left;
    width: 30%;
    border-bottom: 1px solid gray;
    margin: 1%;
    text-overflow: clip;
    /* padding: 1%; */
}

.project-box:hover{
    background: #777;
    cursor: pointer;
}

.project-box:selection {
    background: #000;
    cursor: pointer;
    color: #fff
}

.project-view{
}