#SVG {
    width: 110%;
    height: 100%;
    margin-left: -10%;
}

g > circle.object {
    /* fill: linear-gradient(180deg, #22447a 5.11%, #2a3541 150%); */
    fill : url("#slika-zemlja");
    stroke: rgba(50,50,50,0.5);
    stroke-width: 10px;
}

g > circle.shader {
    fill : url(#planetShadow);
    stroke: 0;
    stroke-width: 0;
}

#Touch {
    fill : rgba(0, 0, 0, 0.0);
    stroke-width: 0;
}