@import url("../common/colors.css");

#PROJECT {
    position: relative;
    width: 100%;
    height: 100%;
}

#MARKET{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

#Touch {
    fill : rgba(0, 0, 0, 0.0);
    stroke-width: 0;
}
