@import url("../common/colors.css");

#PROJECT {
    display: none;
    width: 100%;
    height: 0;
    max-height: 100%;
    transition: all 0.2s;
    box-shadow: inset 0px 0px 1em var(--shadow);
}

#MARKET{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background: #121212;
    transition: all 0.2s;
    overflow-x: auto;
}

#EDITOR{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(18, 18, 18, 0.26);
    transition: all 0.2s;
    overflow-x: auto;
}

#3D_VIEWER{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(18, 18, 18, 0.26);
    transition: all 0.2s;
    overflow-x: auto;
}

#Touch {
    fill : transparent;
    stroke-width: 0;
}

#display_name
{
    font-size: 1.5em;
    text-anchor: middle;
}

.workspace
{
    background-color: var(--dashboard-bg);
    overflow: hidden;
    position: relative;
}

.hover-menu
{
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 5;
}

.hover-menu-item
{
    display: inline-block;
    vertical-align: top;
    
    min-height: 40px;
    margin-right: 1em;
    
    background-color: var(--bg-primary);
    box-shadow: .1em .1em 1em var(--shadow);
    
    cursor: pointer;
}

.hover-menu span, .hover-menu input, .hover-menu label
{
    vertical-align: middle;
}

.hover-menu a
{
    text-decoration: none;
}

.hover-menu a:hover
{
    color: var(--neon-blue);
}

.sort-dropdown > *
{
    display: block;
}