@import url("common/colors.css");

html, body, table {
  margin: 0;
  padding: 0;
  overflow: auto;
  border-spacing: 0;
}

td {
  margin: 0;
  padding: 0;
}

#index {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: 'Roboto', sans-serif;
  /*background: linear-gradient(180deg, #97a5bb 5.11%, #425569 150%);*/
  overflow: auto;
  border-spacing: 0;
}

#index-menu {
  /* width: 15%; */
  height: 100%;
  vertical-align: top;
  z-index: 5;
}

#index-dashboard {
  width: 70%;
  height: 100%;
  vertical-align: top;
  z-index: 0;
}

#index-activity {
  /* width: 15%; */
  height: 100%;
  vertical-align: top;
  z-index: 5;
  -webkit-box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.19), -8px 0px 10px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.19), -8px 0px 10px rgba(0, 0, 0, 0.23);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.19), -8px 0px 10px rgba(0, 0, 0, 0.23);
}

a:link, a:visited {
  text-decoration: none;
}

.notes {
  position: fixed;
  width: 100px;
  height: 70px;
  top: 20px;
  left: 130px;
  z-index: 5;
  background: #009688;
  border-radius: 10px;
  transition: all 0.6s;
}
.notes::after {
  content: '';
  display: block;
  position: fixed;
  width: 0px;
  height: 0px;
  top: 50px;
  left: 115px;
  border-top: 8px solid rgba(0, 0, 0, 0);
  border-bottom: 8px solid rgba(0, 0, 0, 0);
  border-left: 8px solid rgba(0, 0, 0, 0);
  border-right: 8px solid  #009688;
}
.notes p {
  color: #222;
  padding: 12px;
  margin: 0;
}

.fixed-action-btn {
    right:250px;
    bottom:50px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

body {
  background-color: #ededed;
}

.fab {
  background-color: transparent;
  height: 64px;
  width: 64px;
  border-radius: 32px;
  transition: height 300ms;
  transition-timing-function: ease;
  position: absolute;
  right: 30px;
  bottom: 50px;
  text-align: center;
  overflow: hidden;
}

.fab:hover {
  height: 344px;
}

.fab:hover .mainop {
  transform: rotate(180deg);
}

.mainop {
  margin: auto;
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: transform 300ms;
  background-color: #f44336;
  border-radius: 32px;
  z-index: 6;
}

.mainopShadow {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  position: absolute;
  right: 30px;
  bottom: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.mainop i {
  margin-top: 16px;
  font-size: 32px;
  color: #fff;
}

.minifab {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  z-index: 5;
  float: left;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: blue;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.minifab:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.minifabIcon {
  height: 24px;
  width: 24px;
  margin-top: 12px;
}

.op1 {
  background-color: #2f82fc;
}

.op2 {
  background-color: #0f9d58;
}

.op3 {
  background-color: #fb0;
}

.op4 {
  background-color: #dd5145;
}

.op5 {
  background-color: #673ab7;
}
