<div class="project-tab">
  <div class="project-box" id="filter-details-tab" onclick="FilterSwap('details')">
    <p>Info</p>
  </div>
  <div class="project-box" id="filter-comments-tab" onclick="FilterSwap('comments')">
    <p>Comments</p>
  </div>
  <div class="project-box" id="filter-project-conf-tab" onclick="FilterSwap('project-conf')">
    <p>Conf</p>
  </div>
  <div class="project-box" id="filter-access-tab" onclick="FilterSwap('access')">
    <p>Access</p>
  </div>
</div>
<div class="activity-tab-div">
  <div class="scroll">
      <div class="project-view">
        <div id="filter-details" style="display: none;">
            <form id="filter-form-details">
              <h6 class="tab-title" id="open-toggle" onclick="openToggle('tags')">Tags</h6>
              <div class="activity-tab-container" id="tags">
                  <div class="activity-tab-container-inside" id="activity-tag-container">
                      <input type="text" class="add-tag" id="add-tag" onkeypress="addTagListen(event)" placeholder="Add tag">
                      <br>
                      {% for tag in tags %}
                      <div class="tag-container" id="{{ tag['tag'] }} {{ tag['color'] }}">
                          <div class="tag" style="background-color: {{ tag['color'] }}">
                              <i style="color: white; {% if 'white' in tag['color'] %} color: black; {% endif %}">
                               {{ tag['tag'] }}
                              </i>
                          </div>
                          <span class='remove-tag' onclick="removeTag( '{{ tag['tag'] }}', '{{ tag['color'] }}', this )">x</span>
                      </div>
                      {% endfor %}
                      <br>
                  </div>
                </div>

              <h6 class="tab-title" id="open-toggle" onclick="openToggle('ic')">details</h6>
              <div class="activity-tab-container" id="ic">
                  <br>
                  <p><b style="color:  #b0b0b0;">Name:</b></p>
                  <p>{{ file_name }}</p>
                  <p><b style="color:  #b0b0b0;">Size:</b></p>
                  <p>{{ size }}</p>
                  <p><b style="color:  #b0b0b0;">Full Path:</b></p>
                  <p>{{ path }}</p>
                  <p><b style="color:  #b0b0b0;">Share link:</b></p>
                  <div class="share-link"><p>{{ share_link }}</p> <img class="img-copy" src="{{ url_for('static', filename='img/copy.png') }}"/></div>
                  <br>
              </div>

              <h6 class="tab-title id="open-toggle" onclick="openToggle('history')">History</h6>
              <div class="activity-tab-container" id="history">
                  <br>
                  {% for detail in details %}
                    <div class="details_field">
                        <div class="user-details-container">
                          <img class="img-details" src="/get_profile_image/{{ profile_picture }}" />
                          <div class="user-details-event-date">
                              <p class="details_event_user">{{ detail['user']['username'] }}</p>
                              <p class="details_event_name">{{ detail['event_name'] }}</p>
                              <p class="details_date" >{{ detail['date'] }}</p>
                              <!--<p class="details_event"><strong>Name of the file: </strong> {{ detail['event_value'] }}</p>-->
                              </div>
                        </div>
                    </div>
                  {% endfor %}
                  <br>
              </div>
            </form>
        </div>
        <div id="filter-comments" style="display: none;">
          <form id="filter-form-comments">
            <input type="hidden" id="project_name" value="{{ project_name }}" required />
            <input type="hidden" id="parent_id" value="{{ parent_id }}" required />
            <input type="hidden" id="ic_id" value="{{ ic_id }}" required />
            <div class="comments-div">
              <div class="comment-div">
                <div id="searchFoldercommentsDiv" class="autocomplete">
                  <input type="text" id="searchcomments" name="searchcomments" onkeypress="serviceCommentSearchQuery(event)" onkeydown="serviceCommentSearchQuery(event)" placeholder="Filter colab by @Users or #hashtag..." autocomplete="off">
                  <button type="button" id = "resetCommentSearchButton" onclick="resetCommentSearch(event)" style="visibility:hidden  ;" >Reset</button>
                  <br>
                </div>
                <div class="img-comment-container">
                  <img class="profile-icon" src="/get_profile_image/{{ profile_picture }}"/>
                  <div id="makecommentsDiv" class="autocomplete">
                    <div class="comment-send-container"><textarea id="comment" rows="2" onkeypress="commentOnProject(event)" onkeydown="commentOnProject(event)" placeholder="Comment..."></textarea><img class="send-icon" src="{{ url_for('static', filename='img/send.png') }}" onclick="sendCommentPress()"/></div><br>
                  </div>
                </div>
              </div>
              <br>
              <div class="activity-tab-div-comment" id="activity-tab-div-comments">
                {% for comment in comments|reverse %}
                {% include 'activity/single_comment.html' %}
                {% endfor %}
                </div>
              </div>
          </form>
        </div>
        <div id="filter-project-conf" style="display: none;">
          <form id="filter-form-project-conf">

            <h6 class="tab-title" id="open-toggle" onclick="openToggle('project-details')">Project Details</h6>
            <div class="activity-tab-container" id="project-details" style="display: none;">

                <div class="form__group field">
                  ISO 19650
                  <label class="switch"> 
                    <input id="iso19650-checkbox" type="checkbox" class="switch-input" {% if is_iso19650 %} checked {% endif %} {% if is_owner == 'False' %} onclick="return false;" {% endif %}>
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                  </label>
                </div>

                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Project name" name="project-name-activity" id="project-name-activity" value="{{ project_name }}" readonly />
                  <label for="project-name-activity" class="form__label">Project name</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Project description" name="project-description-activity" id="project-description-activity" value="{{ project['description'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="project-description-activity" class="form__label">Project description</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Project code" name="project-code-activity" id="project-code-activity" value="{{ project['code'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="project-code-activity" class="form__label">Project code</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Project number" name="project-number-activity" id="project-number-activity" value="{{ project['number'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="project-number-activity" class="form__label">Project number</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Project status" name="project-status-activity" id="project-status-activity" value="{{ project['status'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="project-status-activity" class="form__label">Project status</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Notes" name="project-notes-activity" id="project-notes-activity" value="{{ project['notes'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="project-notes-activity" class="form__label">Notes</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Project ref" name="project-ref-activity" id="project-ref-activity" value="{{ project['ref'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="project-ref-activity" class="form__label">Project ref</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Originator" name="originator-activity" id="originator-activity" value="{{ project['originator'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="originator-activity" class="form__label">Originator</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Disclaimer" name="disclaimer-activity" id="disclaimer-activity" value="{{ project['disclaimer'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="disclaimer-activity" class="form__label">Disclaimer</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Project custom" name="project-custom-activity" id="project-custom-activity" value="{{ project['custom'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="project-custom-activity" class="form__label">Project custom</label>
                </div>
              
            </div>

            <h6 class="tab-title" id="open-toggle" onclick="openToggle('site-details')">Site Details</h6>
            <div class="activity-tab-container" id="site-details" style="display: none;">

                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Site name" name="site-name-activity" id="site-name-activity" value="{{ project['site']['name'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="site-name-activity" class="form__label">Site name</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Site description" name="site-description-activity" id="site-description-activity" value="{{ project['site']['description'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="site-description-activity" class="form__label">Site description</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Site full address" name="site-full-address-activity" id="site-full-address-activity" value="{{ project['site']['address'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="site-full-address-activity" class="form__label">Site full address</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Site gross perimeter" name="site-gross-perimeter-activity" id="site-gross-perimeter-activity" value="{{ project['site']['gross_perimeter'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="site-gross-perimeter-activity" class="form__label">Site gross perimeter</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Site gross area" name="site-gross-area-activity" id="site-gross-area-activity" value="{{ project['site']['gross_area'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="site-gross-area-activity" class="form__label">Site gross area</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Site coordinates" name="site-coordinates-activity" id="site-coordinates-activity" value="{{ project['site']['coordinates'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="site-coordinates-activity" class="form__label">Site coordinates</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Site custom" name="site-custom-activity" id="site-custom-activity" value="{{ project['site']['custom'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="site-custom-activity" class="form__label">Site custom</label>
                </div>

            </div>

            <h6 class="tab-title" id="open-toggle" onclick="openToggle('building-details')">Building Details</h6>
            <div class="activity-tab-container" id="building-details" style="display: none;">

                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Building name" name="building-name-activity" id="building-name-activity" value="{{ project['building']['name'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="building-name-activity" class="form__label">Building name</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Building description" name="building-description-activity" id="building-description-activity" value="{{ project['building']['description'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="building-description-activity" class="form__label">Building description</label>
                </div>
                <div class="form__group field">
                  <input type="input" class="form__field" placeholder="Building custom" name="building-custom-activity" id="building-custom-activity" value="{{ project['building']['custom'] }}" {% if is_owner == 'False' %} readonly {% endif %} />
                  <label for="building-custom-activity" class="form__label">Building custom</label>
                </div>

            </div>
                
          </form>
          {% if is_owner == 'True' %}
              <input type="button" value="Update" onclick="ProjectConfigSubmit();"/>
            {% endif %}
        </div>
        <div id="filter-access" style="display: none;">
          <form id="filter-form-access">
            <div class="access-div">
                <div class="activity-tab-div-access">
                    <h6 class="tab-title access" >owner</h6>
                    <div class="access-owner-profile">
                      {% for a in access %}
                        {% if 'OWNER' is in a['role'] %}
                        <img class="profile-icon" src="/get_profile_image/{{ a['user']['picture'] }}"/>
                        <p class="details_event owner-username" >{{ a['user']['username'] }}  </p>
                        {% endif %}
                      {% endfor %}
                    </div> 
                    <h6 class="tab-title access">collaborators</h6>
                    <div class="toggle-access" id="access-box">
                    <div class="create-user-container">
                    <div class="form__group field access-users-add">
                      <input type="text" class="form__field new-access" id="user_name" name="user_name" placeholder="Add User..." required />
                      <!--<label for="user_name" class="form__label access"> Add User...</label>-->
                      <input type="button" class="add-user" value="+" onclick="AddAccess()" />
                    </div>
                    <div class="form__group field">
                        <select class="form__field new-access" name="role" id='role' required >
                            <option data-img_src="{{ url_for('static', filename='img/view.png') }}"><span class="watcher">WATCHER</span></option>
                            <option data-img_src="{{ url_for('static', filename='img/pencil.png') }}"><span class="developer">DEVELOPER</span></option>
                            <option data-img_src="{{ url_for('static', filename='img/add-user.png') }}"><span class="admin">ADMIN</span></option>
                        </select>
                        <!--<label for="role" class="form__label">Role</label>-->
                    </div>
                    </div>
                  
                  {% for a in access %}
                  
                  <div class="access-container">
                      <!--<p><img class="profile-icon" src="/get_profile_image/{{ a['user']['picture'] }}"/><b class="details_event_user">{{ a['user']['username'] }}</b> </p>-->
                      <div class="access_field">
                        <div class="access-column-one">
                          {% if 'WATCHER' is  in a['role'] %}
                          <p class="details_event icon-column" ><img class="profile-icon access-img" src="/get_profile_image/{{ a['user']['picture'] }}"/></p>
                          {% endif %}
                          {% if 'DEVELOPER' is  in a['role'] %}
                          <p class="details_event icon-column" ><img class="profile-icon access-img" src="/get_profile_image/{{ a['user']['picture'] }}"/></p>
                          {% endif %}
                        </div><!--{{ url_for('static', filename='img/user.png') }}-->
                        <div class="access-column-two">
                          {% if 'WATCHER' is  in a['role'] %}
                          <p class="details_event user-column" >{{ a['user']['username'] }}  </p>
                          {% endif %}
                          {% if 'DEVELOPER' is  in a['role'] %}
                          <p class="details_event user-column" >{{ a['user']['username'] }}  </p>
                          {% endif %}
                        </div>
                        <div class="access-column-three">
                          <p class="details_event role-columne" >  
                            {% if 'WATCHER' is in a['role'] %}
                                <img class="profile-icon access-img" src="{{ url_for('static', filename='img/view.png') }}"/>    
                            {% endif %}

                            {% if 'DEVELOPER' is in a['role'] %}
                                <img class="profile-icon access-img" src="{{ url_for('static', filename='img/pencil.png') }}"/>    
                            {% endif %}
                          </p>
                        </div>
                        <div class="access-column-four">
                          {% if 'WATCHER' is in a['role'] %}
                          <img class="profile-icon access-img" src="{{ url_for('static', filename='img/clock.png') }}"/> 
                          <p class="details_event date-columne" >Accessebility date</p>
                          {% endif %}
                          {% if 'DEVELOPER' is in a['role'] %}
                          <img class="profile-icon access-img" src="{{ url_for('static', filename='img/clock.png') }}"/> 
                          <p class="details_event date-columne" >Accessebility date</p>
                          {% endif %}
                          {% if 'OWNER' not in a['role'] and user_id != a['user']['user_id'] %}
                          <span class='remove-access' onclick="removeAccess( {{ a }} );">x</span>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                {% endfor %}
                </div>
            </div>
          </form>
        </div>
        </div>
    </div>
</div>
