<h5 class="tab-title">IC details</h5>
<div class="activity-tab-div">
    <br>
    <p><b>IC name:</b></p>
    <p><i style="margin-left:5px;">{{ file_name }}</i></p>
    <p><b>Path:</b></p>
    <p><i style="margin-left:5px;">{{ path }}</i></p>
    <p><b>Share link:</b></p>
    <p><i style="margin-left:5px;">{{ share_link }}</i></p>
</div>

<h5 class="tab-title">History</h5>
<div class="activity-tab-div">
    <br>
    {% for detail in details %}
      <div class="details_field">
          <p><b class="details_event_user">{{ detail['user']['username'] }}</b> <i class="details_event_name">{{ detail['event_name'] }}</i></p>
          <p class="details_event" style="margin-left:5px;">{{ detail['event_value'] }}</p>
          <p class="details_date" style="margin-left:5px;">{{ detail['date'] }}</p>
          <hr style="border-top: 1px solid gray; margin-right:8px;">
      </div>
    {% endfor %}
    <br>
</div>