
<div class="project-tab">
  <div class="project-box" onclick="FilterSwap('#filter-details')">
    <p>Details</p>
  </div>
  <div class="project-box" onclick="FilterSwap('#filter-search')">
    <p>Filters</p>
  </div>
</div>

<div class="project-view">
  <div id="filter-details">

  </div>
  <div id="filter-search" style="display: none;">
    <form>
      <div class="scroll">
        <!--  <input type="hidden" name="parent_id" value="{{ parent_id }}" required />-->
        
            {% for key, value in inputs.items() %}
              <div class="form__group field">
                  <select class="form__field" name="{{ key }}" id='{{ key }}' required >
                      <option></option>
                      {% for v in value.elements %}
                        <option value="{{ v }}">{{ v }}</option>
                      {% endfor %}
                  </select>
                  <label for="{{ key }}" class="form__label">{{ value.name }}</label>
              </div>
            {% endfor %}
        </div>
        <input type="button" class="popup_button" value="Search" onclick="FilterOut(this)"/>
      </form>
  </div>
</div>