

<div class="project-tab">
  <div class="project-box" id="filter-details-tab" onclick="FilterSwap('details')">
    <p>Info</p>
  </div>
  <div class="project-box" id="filter-comments-tab" onclick="FilterSwap('comments')">
    <p>Comments</p>
  </div>
  <div class="project-box" id="filter-search-tab" onclick="FilterSwap('search')">
    <p>Filters</p>
  </div>
  <div class="project-box" id="filter-access-tab" onclick="FilterSwap('access')">
    <p>Access</p>
  </div>
</div>
<div class="activity-tab-div">
  <div class="scroll">
      <div class="project-view">
        <div id="filter-details" style="display: none;">
            <form id="filter-form-details">
              <h6 class="tab-title" id="open-toggle" onclick="openToggleInfoTags()">Tags</h6>
              <div class="activity-tab-container" id="tags">
                  <div class="activity-tab-container-inside" id="activity-tag-container">
                      <input type="text" class="add-tag" id="add-tag" onkeypress="addTagListen(event)" placeholder="Add tag">
                      <br>
                      {% for tag in tags %}
                      <div class="tag-container" id="{{ tag['tag'] }} {{ tag['color'] }}">
                          <div class="tag" style="background-color: {{ tag['color'] }}">
                              <i style="color: white; {% if 'white' in tag['color'] %} color: black; {% endif %}">
                               {{ tag['tag'] }}
                              </i>
                          </div>
                          <span class='remove-tag' onclick="removeTag( '{{ tag['tag'] }}', '{{ tag['color'] }}', this )">x</span>
                      </div>
                      {% endfor %}
                      <br>
                  </div>
                </div>

              <h6 class="tab-title" id="open-toggle" onclick="openToggleInfoIC()">details</h6>
              <div class="activity-tab-container" id="ic">
                  <br>
                  <p><b style="color:  #b0b0b0;">Name:</b></p>
                  <p>{{ file_name }}</p>
                  <p><b style="color:  #b0b0b0;">Size:</b></p>
                  <p>{{ size }}</p>
                  <p><b style="color:  #b0b0b0;">Full Path:</b></p>
                  <p>{{ path }}</p>
                  <p><b style="color:  #b0b0b0;">Share link:</b></p>
                  <div class="share-link"><p>{{ share_link }}</p> <img class="img-copy" src="{{ url_for('static', filename='img/copy.png') }}"/></div>
                  <br>
              </div>

              <h6 class="tab-title id="open-toggle" onclick="openToggleInfoHistory()">History</h6>
              <div class="activity-tab-container" id="history">
                  <br>
                  {% for detail in details %}
                    <div class="details_field">
                        <div class="user-details-container">
                          <img class="img-details" src="/get_profile_image/{{ profile_picture }}" />
                          <div class="user-details-event-date">
                              <p class="details_event_user">{{ detail['user']['username'] }}</p>
                              <p class="details_event_name">{{ detail['event_name'] }}</p>
                              <p class="details_date" >{{ detail['date'] }}</p>
                              <!--<p class="details_event"><strong>Name of the file: </strong> {{ detail['event_value'] }}</p>-->
                              </div>
                        </div>
                    </div>
                  {% endfor %}
                  <br>
              </div>
            </form>
        </div>
        <div id="filter-comments" style="display: none;">
          <form id="filter-form-comments">
            <input type="hidden" id="project_name" value="{{ project_name }}" required />
            <input type="hidden" id="parent_id" value="{{ parent_id }}" required />
            <input type="hidden" id="ic_id" value="{{ ic_id }}" required />
            <div class="comments-div">
              <div class="comment-div">
                <div id="searchFoldercommentsDiv" class="autocomplete">
                  <input type="text" id="searchcomments" name="searchcomments" onkeypress="serviceCommentSearchQuery(event)" onkeydown="serviceCommentSearchQuery(event)" placeholder="Filter colab by @Users or #hashtag..." autocomplete="off">
                  <button type="button" id = "resetCommentSearchButton" onclick="resetCommentSearch(event)" style="visibility:hidden  ;" >Reset</button>
                  <br>
                </div>
                <div class="img-comment-container">
                  <img class="profile-icon" src="/get_profile_image/{{ profile_picture }}"/>
                  <div id="makecommentsDiv" class="autocomplete">
                    <div class="comment-send-container"><textarea id="comment" rows="2" onkeypress="commentOnProject(event)" onkeydown="commentOnProject(event)" placeholder="Comment..."></textarea><img class="send-icon" src="{{ url_for('static', filename='img/send.png') }}" onclick="sendCommentPress()"/></div><br>
                  </div>
                </div>
              </div>
              <br>
              <div class="activity-tab-div-comment" id="activity-tab-div-comments">
                {% for comment in comments|reverse %}
                {% include 'activity/single_comment.html' %}
                {% endfor %}
                </div>
              </div>
          </form>
      </div>
          <div id="filter-search" style="display: none;">
            <form id="filter-form-search" onchange="FilterOut('#filter-form-search')">
                <!--  <input type="hidden" name="parent_id" value="{{ parent_id }}" required />-->

                    {% for key, value in search.items() %}
                      <div class="form__group field">
                          <select class="form__field" name="{{ key }}" id='{{ key }}' required >
                              <option></option>
                              {% for v in value.elements %}
                                <option value="{{ v }}">{{ v }}</option>
                              {% endfor %}
                          </select>
                          <label for="{{ key }}" class="form__label">{{ value.name }}</label>
                      </div>
                    {% endfor %}
              </form>
          </div>
          <div id="filter-access" style="display: none;">
            <form id="filter-form-access">
              <div class="access-div">
                  <div class="activity-tab-div-access">
                      <h6 class="tab-title access" >owner</h6>
                      <div class="access-owner-profile">
                        {% for a in access %}
                          {% if 'OWNER' is in a['role'] %}
                          <img class="profile-icon" src="/get_profile_image/{{ a['user']['picture'] }}"/>
                          <p class="details_event owner-username" >{{ a['user']['username'] }}  </p>
                          {% endif %}
                        {% endfor %}
                      </div> 
                      <h6 class="tab-title access">collaborators</h6>
                     <div class="toggle-access" id="access-box">
                      <div class="create-user-container">
                      <div class="form__group field access-users-add">
                        <input type="text" class="form__field new-access" id="user_name" name="user_name" placeholder="Add User..." required />
                        <!--<label for="user_name" class="form__label access"> Add User...</label>-->
                        <input type="button" class="add-user" value="+" onclick="AddAccess()" />
                      </div>
                      <div class="form__group field">
                          <select class="form__field new-access" name="role" id='role' required >
                              <option data-img_src="{{ url_for('static', filename='img/view.png') }}"><span class="watcher">WATCHER</span></option>
                              <option data-img_src="{{ url_for('static', filename='img/pencil.png') }}"><span class="developer">DEVELOPER</span></option>
                              <option data-img_src="{{ url_for('static', filename='img/add-user.png') }}"><span class="admin">ADMIN</span></option>
                          </select>
                          <!--<label for="role" class="form__label">Role</label>-->
                      </div>
                     </div>
                    
                    {% for a in access %}
                    
                    <div class="access-container">
                        <!--<p><img class="profile-icon" src="/get_profile_image/{{ a['user']['picture'] }}"/><b class="details_event_user">{{ a['user']['username'] }}</b> </p>-->
                        <div class="access_field">
                          <div class="access-column-one">
                            {% if 'WATCHER' is  in a['role'] %}
                            <p class="details_event icon-column" ><img class="profile-icon access-img" src="/get_profile_image/{{ a['user']['picture'] }}"/></p>
                            {% endif %}
                            {% if 'DEVELOPER' is  in a['role'] %}
                            <p class="details_event icon-column" ><img class="profile-icon access-img" src="/get_profile_image/{{ a['user']['picture'] }}"/></p>
                            {% endif %}
                          </div><!--{{ url_for('static', filename='img/user.png') }}-->
                          <div class="access-column-two">
                            {% if 'WATCHER' is  in a['role'] %}
                            <p class="details_event user-column" >{{ a['user']['username'] }}  </p>
                            {% endif %}
                            {% if 'DEVELOPER' is  in a['role'] %}
                            <p class="details_event user-column" >{{ a['user']['username'] }}  </p>
                            {% endif %}
                          </div>
                          <div class="access-column-three">
                            <p class="details_event role-columne" >  
                              {% if 'WATCHER' is in a['role'] %}
                                  <img class="profile-icon access-img" src="{{ url_for('static', filename='img/view.png') }}"/>    
                              {% endif %}

                              {% if 'DEVELOPER' is in a['role'] %}
                                  <img class="profile-icon access-img" src="{{ url_for('static', filename='img/pencil.png') }}"/>    
                              {% endif %}
                            </p>
                          </div>
                          <div class="access-column-four">
                            {% if 'WATCHER' is in a['role'] %}
                            <img class="profile-icon access-img" src="{{ url_for('static', filename='img/clock.png') }}"/> 
                            <p class="details_event date-columne" >Accessebility date</p>
                            {% endif %}
                            {% if 'DEVELOPER' is in a['role'] %}
                            <img class="profile-icon access-img" src="{{ url_for('static', filename='img/clock.png') }}"/> 
                            <p class="details_event date-columne" >Accessebility date</p>
                            {% endif %}
                            {% if 'OWNER' not in a['role'] and user_id != a['user']['user_id'] %}
                            <span class='remove-access' onclick="removeAccess( {{ a }} );">x</span>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                  {% endfor %}
                  </div>
              </div>
            </form>
          </div>
        </div>
    </div>
</div>
