

<div class="project-tab">
  <div class="project-box" id="filter-details-tab" onclick="FilterSwap('details')">
    <p>Details</p>
  </div>
  <div class="project-box" id="filter-comments-tab" onclick="FilterSwap('comments')">
    <p>Comments</p>
  </div>
  <div class="project-box" id="filter-post-tab" onclick="FilterSwap('post')">
    <p>Post</p>
  </div>
  <div class="project-box" id="filter-access-tab" onclick="FilterSwap('access')">
    <p>Access</p>
  </div>
</div>
<div class="activity-tab-div">
    <div class="scroll">
        <div class="project-view">
          <div id="filter-details" style="display: none;">
              <form id="filter-form-details">
                <h6 class="tab-title">Tags</h6>
                <div class="activity-tab-container">
                    <div class="activity-tab-container-inside" id="activity-tag-container">
                        <br>
                        {% for tag in tags %}
                        <div class="tag-container" id="{{ tag['tag'] }} {{ tag['color'] }}">
                            <div class="tag" style="background-color: {{ tag['color'] }}">
                                <i style="color: white; {% if 'white' in tag['color'] %} color: black; {% endif %}">
                                    {{ tag['tag'] }}
                                </i>
                            </div>
                            <span class='remove-tag' onclick="removeTag( '{{ tag['tag'] }}', '{{ tag['color'] }}', this )">x</span>
                        </div>
                        {% endfor %}
                        <br>
                    </div>
                    <input type="text" class="add-tag" id="add-tag" onkeypress="addTagListen(event)" placeholder="Add tag">
                    <br>
                </div>

                <h6 class="tab-title">IC details</h6>
                <div class="activity-tab-container">
                    <br>
                    <p><b>IC name:</b></p>
                    <p><i style="margin-left:5px;">{{ file_name }}</i></p>
                    <p><b>Path:</b></p>
                    <p><i style="margin-left:5px;">{{ path }}</i></p>
                    <p><b>Share link:</b></p>
                    <p><i style="margin-left:5px;">{{ share_link }}</i></p>
                    <br>
                </div>

                <h6 class="tab-title">History</h6>
                <div class="activity-tab-container">
                    <br>
                    {% for detail in details %}
                      <div class="details_field">
                          <p><b class="details_event_user">{{ detail['user']['username'] }}</b> <i class="details_event_name">{{ detail['event_name'] }}</i></p>
                          <p class="details_event" style="margin-left:5px;">{{ detail['event_value'] }}</p>
                          <p class="details_date" style="margin-left:5px;">{{ detail['date'] }}</p>
                          <hr style="border-top: 1px solid gray; margin-left:12px; margin-right:18px;">
                      </div>
                    {% endfor %}
                    <br>
                </div>
              </form>
          </div>
          <div id="filter-comments" style="display: none;">
              <form id="filter-form-comments">
                <input type="hidden" id="project_name" value="{{ project_name }}" required />
                <input type="hidden" id="parent_id" value="{{ parent_id }}" required />
                <input type="hidden" id="ic_id" value="{{ ic_id }}" required />
                <div class="comments-div">
                    <div class="activity-tab-div-comment">
                      {% for comment in comments %}
                        <p><img class="profile-icon" src="/get_profile_image/{{ comment['user']['picture'] }}"/><b class="details_event_user">{{ comment['user']['username'] }}</b> </p>
                        <div class="comments_field">
                            <p class="details_event" style="margin-left:20px; margin-right:10px; margin-top: 10px;">{{ comment['comment'] }}</p>
                            <p class="details_date" style="margin-left:20px; margin-right:10px;">{{ comment['date'] }}</p>
                        </div>
                      {% endfor %}
                    </div>
                    <br>
                    <div class="comment-div">
                      <textarea id="comment" rows="2" onkeypress="sendComment(event)" placeholder="   Add comment..."></textarea><br>
                    </div>
                </div>
              </form>
          </div>
          <div id="filter-post" style="display: none;">
              <form id="filter-form-post">
                <input type="hidden" id="project_name_post" value="{{ project_name }}" required />
                <br>
                <button type="button" class="activity-post-button" onclick="MarketGet('Posts', NewPost, [this, {'ic_id': '{{ ic_id }}', 'stored_id': '{{ stored_id }}', 'parent_id': '{{ parent_id }}', 'project_name': '{{ project_name }}', 'name': '{{ name }}' }])">Create New Post</button>
                <br>
                <button type="button" class="activity-post-button" onclick="OpenPostListPopup({'ic_id': '{{ ic_id }}', 'stored_id': '{{ stored_id }}', 'parent_id': '{{ parent_id }}', 'project_name': '{{ project_name }}', 'name': '{{ name }}' });">Add to existing Post</button>
              </form>
          </div>
          <div id="filter-access" style="display: none;">
            <form id="filter-form-access">
                <div class="access-div">
                    <div class="activity-tab-div-access">
                      {% for a in access %}
                        <br>
                        <div class="access-container">
<!--                          <p><img class="profile-icon" src="/get_profile_image/{{ a['user']['picture'] }}"/><b class="details_event_user">{{ a['user']['username'] }}</b> </p>-->
                          <div class="access_field">
                              <p class="details_event" style="margin-left:20px; margin-right:10px; margin-top: 10px;">{{ a['user']['username'] }}   {{ a['role'] }}</p>
                          </div>
                          {% if 'OWNER' not in a['role'] %}
                            <span class='remove-access' onclick="removeAccess( {{ a }} );">x</span>
                          {% endif %}
                        </div>
                      {% endfor %}
                        <br>
                      <div class="form__group field">
                        <input type="text" class="form__field" id="user_name" name="user_name" placeholder="username" required />
                        <label for="user_name" class="form__label">User</label>
                      </div>
                      <div class="form__group field">
                          <select class="form__field" name="role" id='role' required >
                              <option>WATCHER</option>
                              <option>DEVELOPER</option>
                              <option>ADMIN</option>
                          </select>
                          <label for="role" class="form__label">Role</label>
                      </div>
                      <br>
                      <input type="button" value="Share" onclick="AddAccess()" />
                    </div>
                </div>
              </form>
          </div>
        </div>
    </div>
</div>