<div class="comment-container" data-id="{{ comment['id'] }}" data-user="{{ comment['user']['user_id'] }}">
    <div class="comment-img container">
        <img class="profile-icon" src="/get_profile_image/{{ comment['user']['picture'] }}"/>
    </div>
    <div class="comment-container-all">
        <p class="details_date comment-date">{{ comment['date'] }}</p>
        <div class="comments_field">
            <div class="comment-inline">
                <p class="details_event_user comments">{{ comment['user']['username'] }}</p>
                <p class="details_event comment-events" style="margin-left:20px; margin-right:10px;">{{ comment['comment'] }}</p>
            </div>
        </div>
        {% if comment['user']['user_id'] == session['user']['id'] %}
        <i class="material-icons create comment-options" onclick="editComment(this.parentElement)">edit</i>
        {% endif %}
    </div>
</div>