#activtiy-off:target > activtiy {
  width: 50%;
  background-color: #0a1522;
  transition: all 0.3s;
}
#activtiy-off:target > activtiy > a .activtiy-icons.back {
  display: none;
}
#activtiy-off:target > activtiy > .activtiy-menu li {
  text-align: center;
  width: 40%;
}
#activtiy-off:target > activtiy > .activtiy-menu li > p {
  display: none;
}

#activtiy {
  float: right;
  background-color: #0a1522;
  width: 50%;
  z-index: 2;
  height: 100%;
  background-color: #0a1522;
  position: fixed;
  transition: all 0.3s;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.19), 8px 0px 10px rgba(0, 0, 0, 0.23);
  text-align: center;
  overflow: auto;
}
#activtiy .activtiy-icons.back {
  display: none;
  color: white;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 36px;
  cursor: pointer;
  transition: color 0.3s;
}
#activtiy .activtiy-icons.back:hover {
  color: #009688;
  transition: color 0.3s;
}
#activtiy:target {
  width: 100%;
  background: #000;
  transition: all 0.3s ease-out;
}
#activtiy:target > .notes {
  transition: all 0.2s;
  z-index: 0;
  opacity: 0;
}
#activtiy:target > a .activtiy-icons.back {
  display: block;
}
#activtiy:target > a > .logo {
  width: 60%;
  height: 47px;
  margin: auto;
}
#activtiy:target > a > .logo > span {
  display: none;
}
#activtiy:target > a > .logo > p {
  display: block;
}
#activtiy:target > .activtiy-menu li {
  text-align: left;
  width: 60%;
}
#activtiy:target > .activtiy-menu li:hover::after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(38, 166, 154, 0.1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
}
#activtiy:target > .activtiy-menu li:hover > p {
  color: white;
}
#activtiy:target > .activtiy-menu li > p {
  display: inline-block;
}
#activtiy .logo {
  width: 100%;
  height: 70px;
  position: relative;
  cursor: pointer;
}
#activtiy .logo p {
  display: none;
  color: #999;
  font-size: 23px;
  padding-bottom: 0;
  font-weight: 300;
}
#activtiy .logo span {
  display: block;
  width: 10px;
  height: 10px;
  backrground: #0A0A0A;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 25px;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  border: 8px solid white;
  transition: all 0.2s;
}
#activtiy .logo:hover ~ p {
  color: white;
  transition: all 0.3s;
}
#activtiy .logo:hover > span {
  width: 0;
  height: 0;
  border-left: 15px solid white;
  border-right: 15px solid rgba(0, 0, 0, 0);
  border-top: 15px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  transition: all 0.2s;
  transform: rotateZ(0deg) translateX(10px);
  -webkit-transform: rotateZ(0deg) translateX(10px);
}
#activtiy .logo:hover > span::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid #111;
  border-right: 8px solid rgba(0, 0, 0, 0);
  border-top: 8px solid rgba(0, 0, 0, 0);
  border-bottom: 8px solid rgba(0, 0, 0, 0);
  left: -15px;
  position: absolute;
  top: -8px;
}
#activtiy .activtiy-pmenu {
  margin: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 300;
}
#activtiy hr {
  width: 75%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
#activtiy .activtiy-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#activtiy .activtiy-menu li {
  padding: 15px;
  width: 40%;
  margin: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom-style: dotted;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
}
#activtiy .activtiy-menu li:last-child {
  border: none;
}
#activtiy .activtiy-menu li:hover {
  background: #000;
  transition: all 0.3s;
}
#activtiy .activtiy-menu li:hover > .activtiy-icons {
  color: white;
}
#activtiy .activtiy-menu li .activtiy-icons {
  color: #999;
}
#activtiy .activtiy-menu li p {
  display: none;
  margin: auto;
  color: #888;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  padding-left: 30px;
  line-height: 30px;
}

.activtiy-icons.info {
  color: #999;
  position: absolute;
  margin: 0;
  bottom: 20px;
  left: 0;
  right: 0;
}