<div id="filter-access" style="display: none;">
    <form id="filter-form-access">
        <div class="access-div">
            <div class="activity-tab-div-access">
                <div class="image-toggle-container " id="open-toggle" onclick="openToggleAccess()">
                <p class="open-access" id="plus-rotate">+</p><span><p class="access-tooltip" id="renametooltip">Add Access</p></span>
                </div>
                <div id="newpost" class="toggle-access">
                    <div class="create-user-container">
                        <div class="form__group field">
                            <input type="text" class="form__field" id="user_name" name="user_name" placeholder="username" required />
                            <label for="user_name" class="form__label">User</label>
                        </div>
                        <div class="form__group field">
                            <select class="form__field" name="role" id='role' required >
                                <option>WATCHER</option>
                                <option>DEVELOPER</option>
                                <option>ADMIN</option>
                            </select>
                            <label for="role" class="form__label">Role</label>
                        </div>
                        <br>
                        <input type="button" value="Share" onclick="AddAccess()" />
                    </div>
                </div>
                <hr class="access-break-line">

                <h3 class="title-access">Users</h3>
                {% for a in access %}
                <br>
                <div class="access-container">
                    <!--<p><img class="profile-icon" src="/get_profile_image/{{ a['user']['picture'] }}"/><b class="details_event_user">{{ a['user']['username'] }}</b> </p>-->
                    <div class="access_field">
                        <div class="access-column-one">
                            <p class="details_event icon-column" ><img class="profile-icon access-img" src="/get_profile_image/{{ a['user']['picture'] }}"/></p>
                        </div><!--{{ url_for('static', filename='img/user.png') }}-->
                        <div class="access-column-two">
                            <p class="details_event user-column" >{{ a['user']['username'] }}  </p>
                        </div>
                        <div class="access-column-three">
                            <p class="details_event role-columne" >  
                            {% if 'OWNER' is in a['role'] %}
                                <img class="profile-icon access-img" src="{{ url_for('static', filename='img/add-user.png') }}"/>    
                            {% endif %}

                            {% if 'WATCHER' is in a['role'] %}
                                <img class="profile-icon access-img" src="{{ url_for('static', filename='img/view.png') }}"/>    
                            {% endif %}

                            {% if 'DEVELOPER' is in a['role'] %}
                                <img class="profile-icon access-img" src="{{ url_for('static', filename='img/pencil.png') }}"/>    
                            {% endif %}
                            </p>
                        </div>
                        <div class="access-column-four">
                            <img class="profile-icon access-img" src="{{ url_for('static', filename='img/clock.png') }}"/> 
                            <p class="details_event date-columne" >Accessebility date</p>
                            {% if 'OWNER' not in a['role'] %}
                            <span class='remove-access' onclick="removeAccess( {{ a }} );">x</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </form>
</div>
<div class="edit-box hover right button" onclick="AddPost();" style="display: flex ; justify-content: center; align-items: center;">
    <h4>CREATE POST</h4>
</div>