<div id="filter-comments" style="display: none;">
    <br>
    TODO
    <br>
    <form id="filter-form-comments">
        {% if post is defined %}
        <div class="comments-div">
            <div class="comment-div">
                <input type="text" id="searchcomments" name="searchcomments" placeholder="Filter collab by @Users or #hashtag...">
                <br>
                <div class="img-comment-container">
                    <img class="profile-icon" src="/get_profile_image/{{ profile_picture }}"/>
                    <textarea id="comment" rows="2" onkeypress="sendComment(event)" placeholder="Comment..."></textarea>
                    <br>
                </div>
            </div>
            <br>
            <div class="activity-tab-div-comment">
                {% for comment in post['comments']|reverse %}
                {% include 'activity/single_comment.html' %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </form>
</div>