<div id="activity-details" class="activity-box">
    <form id="filter-form-details">
        <h6 class="activity-collapsible selected">Create a new post</h6>
        <div class="activity-collapsible-body">
            <p>
                <b>Title:</b>
                <input type="text" class="form-control" name="title" value="{{ post['title'] if post is defined }}" required>
            </p>
            <p>
                <b>Description: </b><br>
                <textarea rows="8" class="form-control" name="description" required>{{ post['description'] if post is defined}}</textarea>
            </p>
            <p>
                <b>Status:</b> 
                <select id="visibility" class="form-select" name="visibility">
                    <option value="visible">Visible</option>
                    <option value="private">Private</option>
                </select>
            </p>
            <p><b>Quantity:</b> <input type="text" class="form-control" name="product" value="{{ post['product']['quantity'] if post is defined}}" required></p>
            <p><b>Project:</b> TODO</p>
            <p><b>Location:</b> <input type="text" class="form-control" name="location" value="{{ post['location'] if post is defined }}" required></p>
            <p><b>Expiration:</b> <input type="text" class="form-control" name="date_expired" value="{{ post['date_expired'] if post is defined }}" placeholder="" onfocus="(this.type='datetime-local')" onblur="(this.type='text')" required></p>
            <br>
        </div>

        {% if post is not defined %}
        <!-- create post tags -->
        <h6 class="activity-collapsible">Tags</h6>
        <div class="activity-collapsible-body" id="tags">
            <div class="activity-tab-container-inside" id="activity-tag-container">
                <input type="text" class="form-control" id="add-tag" onkeypress="addTagListen(event, true);" placeholder="Add tags here..">
                <br>
            </div>
        </div>
        {% else %}
        <!-- edit post tags -->
        <h6 class="activity-collapsible">Tags</h6>
        <div class="activity-collapsible-body">
            <div class="activity-tab-container-inside" id="activity-tag-container">
                <input type="text" class="form-control" id="add-tag" onkeypress="addTagListen(event)" placeholder="Add tags here..">
                {% for tag in post['tags'] %}
                <div class="tag-container" id="{{ tag['tag'] }} {{ tag['color'] }}">
                    <div class="tag" style="background-color: {{ tag['color'] }}">
                        <i style="color: white; {% if 'white' in tag['color'] %} color: black; {% endif %}">
                         {{ tag['tag'] }}
                        </i>
                    </div>
                    <span class='remove-tag' onclick="removeTag( '{{ tag['tag'] }}', '{{ tag['color'] }}', this )">x</span>
                </div>
                {% endfor %}
                <br>
            </div>
        </div>
        {% endif %}

        
        {% block createPostButton %}
            <button type="button" class="btn btn-update w-100 my-3" onclick="AddPost();">
                Create post
            </button>
        {% endblock %}
    </form>
</div>