<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login/login.css') }}">
	<script src="{{ url_for('static', filename='js/common/jquery-3.5.1.min.js') }}" charset="utf-8"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100" rel="stylesheet" type="text/css">

</head>
<body>

  <div class="container">
    <div class="backbox">
      <div class="loginMsg">
        <div class="textcontent">
          <p class="title">Don't have an account?</p>
          <p>Sign up to track your project.</p>
          <button id="switch1">Sign Up</button>
        </div>
      </div>
      <div class="signupMsg visibility">
        <div class="textcontent">
          <p class="title">Have an account?</p>
          <p>Log in to see all your projects.</p>
          <button id="switch2">LOG IN</button>
        </div>
      </div>
    </div>
    <!-- backbox -->

    <div class="frontbox">
      <div class="login">
        <h2>LOG IN</h2>
        <div class="inputbox">
          <input type="hidden" id="login_ic_data" value="{{ login_ic_data }}"/>
          <input type="text" id="email" placeholder="  EMAIL">
          <input type="password" id="password" placeholder="  PASSWORD">
        </div>
        <p>
          <a href="#">forgot password?</a></p>
        <button id="login_button">LOG IN</button>
      </div>

      <div class="signup hide">
        <h2>SIGN UP</h2>
        <div class="inputbox">
          <input type="text" id="s_username" placeholder="  USERNAME">
          <input type="text" id="s_email" placeholder="  EMAIL">
          <input type="password" id="s_password" placeholder="  PASSWORD">
        </div>
        <button id="signup_button">SIGN UP</button>
      </div>
      <div class="msg_placeholder">
        <p id="msg_placeholder"></p>
      </div>
    </div>
    <!-- frontbox -->
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/login/login.js') }}"></script>
</body>

</html>
