<div id="activity-access" class="activity-box">
    <form id="filter-form-access">
        <div class="activity-access-container">
            <h6 class="activity-collapsible" >owner</h6>
            <div class="activity-access-owner-profile mx-auto">
                {% for a in access %}
                    {% if 'OWNER' in a['role_name'] %}
                <img class="profile-icon" src="/get_profile_image/{{ a['user']['picture'] }}"/>
                <p class="details_event owner-username text-center mt-2" >{{ a['user']['username'] }}  </p>
                    {% endif %}
                {% endfor %}
            </div> 

            <h6 class="activity-collapsible selected">collaborators</h6>
            <div class="activity-collapsible-body my-3" id="access-box">
                <div class="activity-add-user-container row">
                    <label for="user_name" class="form-label ms-1">Add people</label>
                    <div class="input-group">
                        <input type="text" class="form-control me-2 {{'not-allowed' if can_configure_project == 'False'}}" id="access-add-username" oninput="GetUsers(this);" name="user_name" 
                            placeholder="Type a username" required {{ 'disabled' if can_configure_project == 'False' }} />
                        <input type="text" id="access-exp-date" class="form-control {{'not-allowed' if can_configure_project == 'False'}}" name="access_date_expired" 
                            placeholder="indefinitely" value="indefinitely" onfocus="(this.type='datetime-local')" 
                            onblur="(this.type='text')" {{ 'disabled' if can_configure_project == 'False' }}>
                        <select required class="form-select me-2 {{'not-allowed' if can_configure_project == 'False'}}" id="access-add-role" {{ 'disabled' if can_configure_project == 'False' }}>
                            <option value="" selected>Choose a role</option>
                            <option value="WATCHER">Watcher</option>
                            <option value="DEVELOPER">Developer</option>
                            <option value="ADMIN">Admin</option>
                        </select>
                        <button type="button" class="material-icons btn" onclick="AddAccess()"
                            {{ 'disabled' if can_configure_project == 'False' }}>person_add</button>
                    </div>
                </div>

                <div class="activity-access-container mt-3">
                {% for a in access %}
                    {% if not 'OWNER' in a['role_name'] %}
                    <div class="activity-access-box p-2">
                        <img class="access-img" src="/get_profile_image/{{ a['user']['picture'] }}"/>
                        <div class="access-info align-self-center align-middle ms-2">
                            <div class="access-info-username fw-bold">{{ a['user']['username'] }}</div>
                            <input type="text" class="form-control" name="date_expired" value="{{ a['exp_date'] }}" 
                                                placeholder="" onfocus="(this.type='datetime-local')" 
                                                onblur="(this.type='text')" 
                                                onchange="updateAccessRole({{ a }}, '', this.value);"
                                                {% if not a['exp_date'] | access %}  
                                                    style="border:2px solid red;"
                                                {% endif %}
                                                {{ 'disabled' if can_configure_project == 'False' }}>
                            <select required class="form-select me-2" 
                                onchange="updateAccessRole({{ a }}, this.value, '');"  {{ 'disabled' if can_configure_project == 'False' }}>
                                <option value="WATCHER" {{ 'selected' if a['role_name'] == 'WATCHER' }}>Watcher</option>
                                <option value="DEVELOPER" {{ 'selected' if a['role_name'] == 'DEVELOPER' }}>Developer</option>
                                <option value="ADMIN" {{ 'selected' if a['role_name'] == 'ADMIN' }}>Admin</option>
                            </select>
                        </div>

                        {% if can_configure_project == 'True' %}
                            <div class="material-icons btn btn-access-remove me-2 mt-2"
                                onclick="removeAccess({{ a }});">
                                person_remove
                            </div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </form>
</div>