<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</head>
<body>
    <div id="cont">
        <div id="menu-fixed">
<!--          <div class="notes"><p>Welcome to the new Dashboard!</p></div>-->
          <a href="#cont">
            <i class="material-icons back">&#xE314;</i>
          </a>
          <a href="#menu-fixed">
            <div class="logo">
              <span></span>
              <p>Super Leggera</p>
            </div>
            <p class="pmenu">MENU</p>
          </a>
          <hr>
          <ul class="menu">
              <li><i class="material-icons">&#xE88A;</i><p>{{ username }}</p></li>
            <li><i class="material-icons">&#xE88A;</i><p>Home</p></li>
              <li><i class="material-icons">&#xE8CC;</i><p>Marketplace</p></li>
            <li><i class="material-icons">&#xE87A;</i><p>Tasks</p></li>
            <li><i class="material-icons">&#xE8B8;</i><p>Settings</p></li>
            <li><i class="material-icons">&#xE8B6;</i><p>Search</p></li>
          </ul>
          <i class="material-icons info">&#xE88E;</i>
        </div>
        </div>

        <div id="page">

        </div>
    </body>
</html>