<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/activity/activity.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/dashboard.css') }}">

    <script src="{{ url_for('static', filename='js/common/jquery-3.5.1.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/common/d3.v3.min.js') }}" charset="utf-8"></script>
</head>
    <body>
      <table id="index">
        <tr>
          {{ menu|safe }}
          {{ dashboard|safe }}
          {{ activity|safe }}
        </tr>
      </table>
    </body>
</html>
<script src="{{ url_for('static', filename='js/menu/menu.js') }}" charset="utf-8"></script>