<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/activity/activity.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popup/file_input_popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popup/new_folder_popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popup/new_project_popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popup/choose_project_popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popup/rename_popup.css') }}">

    <script src="{{ url_for('static', filename='js/common/jquery-3.5.1.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/common/d3.v3.min.js') }}" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
    <script type="text/javascript">
       var user = '{{ user|tojson }}'
    </script>

    <body>
      {{ file_input_popup|safe }}
      {{ new_folder_popup|safe }}
      {{ new_project_popup|safe }}
      {{ choose_project_popup|safe }}
      {{ rename_popup|safe }}
      <table id="index">
        <tr>
          {{ menu|safe }}
          {{ dashboard|safe }}
          {{ activity|safe }}
        </tr>
      </table>

<!--    <div class="mainopShadow"></div>-->

<!--    <div class="fab">-->
<!--      <div class="mainop">-->
<!--        <i id="addIcon" class="material-icons">add</i>-->
<!--      </div>-->
<!--      <div id="forms" class="minifab op5">-->
<!--        <i class="material-icons minifabIcon">touch_app</i>-->
<!--      </div>-->
<!--      <div id="drawings" class="minifab op4">-->
<!--        <i class="material-icons minifabIcon">arrow_circle_down</i>-->
<!--      </div>-->
<!--      <div id="slides" class="minifab op3">-->
<!--        <i class="material-icons minifabIcon">arrow_circle_up</i>-->
<!--      </div>-->
<!--      <div id="sheets" class="minifab op2">-->
<!--        <i class="material-icons minifabIcon">create_new_folder</i>-->
<!--      </div>-->
<!--      <div id="docs" class="minifab op1">-->
<!--        <i class="material-icons minifabIcon">add_circle_outline</i>-->
<!--      </div>-->
<!--    </div>-->

    <div id="snackbar"></div>

    </body>
</html>
<script src="{{ url_for('static', filename='js/menu/menu.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/index.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/popup/file_input_popup.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/popup/new_folder_popup.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/popup/new_project_popup.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/popup/choose_project_popup.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/popup/rename_popup.js') }}" charset="utf-8"></script>
