<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!--	<script src="{{ url_for('static', filename='js/main.js') }}"></script>-->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100" rel="stylesheet" type="text/css">

</head>
<body>

  <div class="container">
    <div class="backbox">
      <div class="loginMsg">
        <div class="textcontent">
          <p class="title">Don't have an account?</p>
          <p>Sign up to track your project.</p>
          <button id="switch1">Sign Up</button>
        </div>
      </div>
      <div class="signupMsg visibility">
        <div class="textcontent">
          <p class="title">Have an account?</p>
          <p>Log in to see all your projects.</p>
          <button id="switch2">LOG IN</button>
        </div>
      </div>
    </div>
    <!-- backbox -->

    <div class="frontbox">
      <div class="login">
        <h2>LOG IN</h2>
        <div class="inputbox">
          <input type="text" id="email" placeholder="  EMAIL">
          <input type="password" id="password" placeholder="  PASSWORD">
        </div>
        <p>
          <a href="#">forgot password?</a></p>
        <button>LOG IN</button>
      </div>

      <div class="signup hide">
        <h2>SIGN UP</h2>
        <div class="inputbox">
          <input type="text" id="s_fullname" placeholder="  FULLNAME">
          <input type="text" id="s_email" placeholder="  EMAIL">
          <input type="password" id="s_password" placeholder="  PASSWORD">
        </div>
        <button>SIGN UP</button>
      </div>

    </div>
    <!-- frontbox -->
  </div>

  <script type="text/javascript" src="js/login.js"></script>
</body>

</html>
