<div class="ticket-body" id="bid_ticket"  onclick="OpenActivityBid(this, '{{ bid_id }}');">
    <!-- <input type="hidden" name="bid_id" value="{{ bid_id }}"> -->
    <h3>{{ title }}</h3>
    <!-- <h3 id="title"></h3> -->
    <br>
    <div class="ticket-box">
        <div class="post-block"><h5>post id: </h5><h6>{{ post_id }}</h6></div>
        <div class="post-block"><h5>offer: </h5><h6>{{ offer }}</h6></div>
        <div class="post-block"><h5>username: </h5><h6>{{ username }}</h6></div>
        <div class="post-block"><h5>date_created: </h5<h6>{{ date }}</h6></div>
        <!-- <div class="post-block"><h5>post id: </h5><h6 id="post_id"></h6></div>
        <div class="post-block"><h5>offer: </h5><h6 id="offer"></h6></div>
        <div class="post-block"><h5>username: </h5><h6 id="username"></h6></div>
        <div class="post-block"><h5>date_created: </h5><h6 id="date"></h6></div> -->
    </div>
</div>