<div class="post-header">
    <div class="post-block" onclick="EditBid(this, '{{ post_id }}');">
        <h3>INFO</h3>
        <i class="material-icons w3-xxxlarge">edit</i>
    </div>
    <div class="post-block">
        <h5>WHO</h5>
    </div>
    <div class="post-block">
        <h5>WHEN</h5>
    </div>
    <div class="post-block">
        <h5>WHERE</h5>
    </div>
    <div class="post-block">
        <h5>WHAT</h5>
    </div>
</div>
<br>
<br>
<div class="post-header">
    <div class="post-block">
        <h5>BID</h5>
    </div>
    <div class="post-block">
        <h5>STATUS</h5>
    </div>
</div>
