<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section class="market-gallery">
        <div class = "container">
            <div class="grid">
                <div class="column-xs-12 column-md-4">
                    <div class="user_post">
                        <p>TEST 1</p>
                    </div>
                </div>
                <div class="column-xs-12 column-md-4">
                    <p>TEST 1</p>
                </div>
                <div class="column-xs-12 column-md-4">
                    <p>TEST 1</p>
                </div>
                <div class="column-xs-12 column-md-4">
                    <p>TEST 1</p>
                </div>
                <div class="column-xs-12 column-md-4">
                    <p>TEST 1</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>