{% extends 'dashboard/market/post_activity.html' %}

{% block tabs %}
    <div class="activity-tab col-lg col-md-12" data-tab="details">
        Details
    </div>
    <div class="activity-tab col-lg col-md-12" data-tab="comments">
        Comments
    </div>
    <div class="activity-tab col-lg col-md-12" data-tab="bids">
        Bids
    </div>
    <div class="activity-tab col-lg col-md-12" data-tab="access">
        Access
    </div>
{% endblock %}

{% block details %}
    {% include 'dashboard/market/partials/details_form.html' %}
{% endblock %}

{% block comments %}
    {% include 'dashboard/market/partials/comments_tab.html' %}
{% endblock %}

{% block bids %}
    {% include 'dashboard/market/partials/bids_tab.html' %}
{% endblock %}

{% block access %}
    {% include 'dashboard/market/partials/access_tab.html' %}
{% endblock %}