<form class="ticket-form">
    <input type="hidden" name="post_id" value="{{ post_id }}">
    <input type="hidden" name="bids" value="{{ bids }}">
    <div class="edit-section upper">
        <div class="edit-section left">
            <div class="group edit-box hover">
                <input type="text" id="username" value="{{ username }}" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Who</label>
            </div>
            <div class="group edit-box hover">
                <input type="text" name="title" value="{{ title }}" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Title</label>
            </div>
            <div class="group edit-box hover">
                <textarea rows="8" name="description" required>{{ description }}</textarea>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Product description</label>
            </div>
            <div class="group edit-box hover">
                <input type="text" name="quantity" value="{{ quantity }}" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Quantity</label>
            </div>
        </div>
        <div class="edit-section right">
            <div class="group edit-box hover">
                <input type="text" name="date_expired" placeholder="" onfocus="(this.type='date')" onblur="(this.type='text')" value="{{ date }}" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>When</label>
            </div>
            <div class="group edit-box hover">
                <input type="text" name="location" value="{{ location }}" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Where</label>
            </div>
            <div class="group edit-box hover">
                <h4>LOWEST BID</h4>
                <h2>{{ lowest_bid }}</h2>
            </div>
            <div class="group edit-box hover">
    <!--            <input type="text" id="visibility" required>-->
                <select id="visibility" name="visibility">
                    <option value="visible">Visible</option>
                    <option value="private">Private</option>
                </select>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="visibility"></label>
            </div>
            <div class="edit-box hover right button" onclick="UpdatePost(this, '{{ post_id }}');">
                <h4>Edit POST</h4>
            </div>
        </div>
    </div>
    <div class="edit-section lower">
        <div class="edit-section tab">
            <div class="edit-box" id="edit-box-3d-view" onclick="MarketTabSwap('3d-view')">
                <h4>3D VIEW</h4>
            </div>
            <div class="edit-box" id="edit-box-docs" onclick="MarketTabSwap('docs')">
                <h4>DOCUMENTS</h4>
            </div>
            <div class="edit-box" id="edit-box-images" onclick="MarketTabSwap('images')">
                <h4>IMAGES</h4>
            </div>
        </div>
        <div class="edit-section view">
            <div id="3d-view" class="edit-view">
                 <div class="group edit-box hover">
                    <input type="text" name="3d-view" value="{{ dview }}">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Add an iframe link</label>
                </div>
            </div>
            <div id="docs" class="edit-view" style="display: none;">
                <div class="drop-area" id="drop-area-doc">
                  <form class="my-form">
                    <p>Upload multiple files with the file dialog or by dragging and dropping documents onto the dashed region</p>
                    <input type="file" id="doc" name="doc" multiple onchange="handleFiles(this.files, 'doc')">
                    <label class="button" for="doc">Select file(s)</label>
                  </form>
                    <div id="file-preview"></div>
                </div>
            </div>
            <div id="images" class="edit-view" style="display: none;">
                <div class="drop-area" id="drop-area-image">
                  <form class="my-form">
                    <p>Upload multiple files with the file dialog or by dragging and dropping documents onto the dashed region</p>
                    <input type="file" id="image" name="image" multiple accept="image/*" onchange="handleFiles(this.files, 'image')">
                    <label class="button" for="image">Select file(s)</label>
                  </form>
                    <div id="gallery"></div>
                </div>
            </div>
        </div>
    </div>
</form>