<div class="edit-section lower">
    {% include 'dashboard/market/partials/post_nav.html' %}
    
    <div class="edit-section view">
        <div id="3d-view" class="edit-view">
            <iframe width="960" height="400" src="{{ dview }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div id="docs" class="edit-view" style="display: none;">
            <div id="file-preview"></div>
        </div>
        <div id="images" class="edit-view" style="display: none;">
            <div id="gallery"></div>
        </div>
    </div>
</div>