{% extends 'dashboard/market/post_activity.html' %}
{% block tabs %}
    <div class="project-box" id="filter-details-tab" onclick="FilterSwap('details')">
        <p>Details</p>
    </div>
    <div class="project-box" id="filter-comments-tab" onclick="FilterSwap('comments')">
        <p>Comments</p>
    </div>
    <div class="project-box" id="filter-bids-tab" onclick="FilterSwap('bids')">
        <p>Bids</p>
    </div>
{% endblock %}

{% block details %}
    {% include 'dashboard/market/partials/details_tab.html' %}
{% endblock %}
    
{% block comments %}
    {% include 'dashboard/market/partials/comments_tab.html' %}
{% endblock %}

{% block bids %}
    {% include 'dashboard/market/partials/bids_form.html' %}
    {% include 'dashboard/market/partials/bids_tab.html' %}
{% endblock %}