<div class="edit-section upper">
    <div class="edit-section left">
        <div class="edit-box hover">
            <h4>WHO</h4>
            <h2>{{ username }}</h2>
        </div>
        <div class="edit-box hover">
            <h4>PRODUCT</h4>
            <h2>{{ description }}</h2>
        </div>
        <div class="edit-box hover">
            <h4>WHEN</h4>
            <h2>{{ date }}</h2>
        </div>
        <div class="edit-box hover">
            <h4>WHERE</h4>
            <h2>{{ location }}</h2>
        </div>
    </div>
    <div class="edit-section right">
        <div class="edit-box hover right">
            <h4>LOWEST BID</h4>
            <h2>{{ lowest_bid }}</h2>
        </div>
        <div class="edit-box hover right">
            <h4>BIDS</h4>
        </div>
        <div class="edit-box hover right">
            <h4>FINALIZE PRODUCT</h4>
        </div>
    </div>
</div>
<div class="edit-section lower">
    <div class="edit-section tab">
        <div class="edit-box">
            <h4>3D VIEW</h4>
        </div>
        <div class="edit-box">
            <h4>DOCUMENTS</h4>
        </div>
        <div class="edit-box">
            <h4>IMAGES</h4>
        </div>
    </div>
<iframe width="960" height="400" src="https://bimx-webviewer.graphisoft.com/viewer?accessToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0c191cmwiOiJ0cnNpdGU6Ly8vRG9jdW1lbnRzLzE1NmRiNzkyLTA2NTEtNGVmMy1iMjRhLTMyNTlkNzkzYWZjNyIsInRzX3R5cCI6Ikh5cGVyTW9kZWwiLCJ4X2lldiI6IjAiLCJuYmYiOjE1NjA2OTUxOTIsImV4cCI6MjEzMTc5OTE5MiwiaWF0IjoxNTk1MzQxNTkyLCJpc3MiOiJodHRwczovL2JpbXguZ3JhcGhpc29mdC5jb20iLCJhdWQiOiJodHRwczovL2JpbXgtd2Vidmlld2VyLmdyYXBoaXNvZnQuY29tIn0.4RR_laaXlWMA4k1oWkIOD-O-E0mA93y8tQE6a75hiaI" frameborder="0" allowfullscreen></iframe>
</div>