<div class="post-header">
    <div class="post-block" onclick="EditPost(this);">
        <h3>INFO</h3>
        <i class="material-icons w3-xxxlarge">edit</i>
    </div>
    <div class="post-block">
        <h4>WHO</h4>
    </div>
    <div class="post-block">
        <h4>WHEN</h4>
    </div>
    <div class="post-block">
        <h4>WHERE</h4>
    </div>
    <div class="post-block">
        <h4>WHAT</h4>
    </div>
</div>
<br>
<br>
<div class="post-header">
    <div class="post-block">
        <h4>BID</h4>
    </div>
    <div class="post-block">
        <h4>STATUS</h4>
    </div>
</div>
