<div id="chooseProjectModal" class="modal">
<!-- Modal content -->
<div class="modal-content", id="choose-project-modal-content">
  <span class="close3">&times;</span>
  <p>Choose project</p>
  <form id="chooseProjectFormId" enctype="multipart/form-data" onsubmit="return submit();">
    <div class="form__group field">
      <select type="input" class="form__field" name="choose_project" id='choose_project' required >
        <option></option>
      </select>
      <label for="choose_project" class="form__label">Project Level</label>
    </div>
    <br>
    <input type="button" id="choose_project_btn" value="Choose" />
  </form>
</div>
</div>