<h3>Upload New File</h3>
<div class="scroll">
  <input type="hidden" name="parent_id" value="{{ parent_id }}" required />
  <input type="hidden" name="ic_id" value="{{ ic_id }}" required />
  <input type="hidden" id="project_name" name="project_name" value="{{ project_name }}" required />
<!--  <input type="hidden" id="project_code" name="project_code" value="{{ project_code }}" required />-->
<!--  <input type="hidden" id="company_code" name="company_code" value="{{ company_code }}" required />-->
  <input type="hidden" id="parent_path" name="parent_path" value="{{ project_path }}" required />
  <input type="hidden" id="is_file" name="is_file" value="{{ is_file }}" required />

  <div id="smart_naming">
    <div class="form__group_popup circle">
      <input type="text" class="form__field_popup" name="project_code" id='project_code' value="{{ project_code }}" required/>
      <label for="project_code" class="form__label_popup">Project Code</label>
    </div>
    <div class="form__group_popup circle">
      <input type="text" class="form__field_popup" name="company_code" id='company_code' value="{{ company_code }}" required/>
      <label for="company_code" class="form__label_popup">Company Code</label>
    </div>


    {% for key, value in inputs.items() %}
      <div class="form__group_popup circle">
          <select class="form__field_popup" name="{{ key }}" id='{{ key }}' onchange="updateName({{ value.order }}, this)" required>
              <option></option>
              {% for v in value.elements %}
                <option value="{{ v }}">{{ v }}</option>
              {% endfor %}
          </select>
          <label for="{{ key }}" class="form__label">{{ value.name }}</label>
      </div>
    {% endfor %}

    <div class="form__group_popup circle">
      <select class="form__field_popup" name="uniclass_2015" id='uniclass_2015' >
        <option></option>
      </select>
      <label for="uniclass_2015" class="form__label_popup">Uniclass 2015</label>
    </div>

    <div class="form__group_popup rectangle">
      <input class="" name="name" id='name' value="Default" oninput="updateName(9, this)" required />
      <label for="name" class="form__label_popup">Name</label>
    </div>
    <div class="form__group_popup circle">
      <input type="text" class="form__field_popup" name="file_extension" id='file_extension' value="" readonly />
      <label for="file_extension" class="form__label_popup">File Extension</label>
    </div>
  </div>
  <br>
  <div class="form__group_popup_new">
    <input type="text" class="form__field_popup" name="new_name" id='new_name' required/>
    <label for="new_name" class="form__label">New name</label>
  </div>
  <br>
  <input type="button" class="popup_button" value="Upload" onclick="FormSubmit('upload_file', GetFile(), true, CreateProject)"/>
</div>
