<div class="pero">
    <div class="cover back"></div>
    <div class="content">
      <span class="zatvori">&times;</span>
      <form class="form" enctype="multipart/form-data">
        <!-- DYNAMIC INSERT -->
      </form>
    </div>
    <div class="cover front"><image class="loading" src="{{ url_for('static', filename='img/loading.gif') }}"></image></div>
</div>
<script src="{{ url_for('static', filename='js/popup/generic.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/popup/project.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/popup/dirs.js') }}" charset="utf-8"></script>