<h3>Create New Project</h3>
<div class="form-check d-inline-block ms-3">
    <input class="form-check-input glow" type="checkbox" value="" id="is_iso19650_checkbox" 
        name="is_iso19650_checkbox" onchange="this.classList.remove('glow');">
    <label class="form-check-label" for="is_iso19650_checkbox">
        ISO 19650 RENAMING
    </label>
  </div>
<div class="scroll">
  <div class="form__group field">
    <input type="input" class="form__field" name="project_name" id="project_name" required />
    <label for="project_name" class="form__label">Project name</label>
  </div>
  <br>
</div>
<input type="button" class="keypress" value="Upload" onclick="FormSubmit('create_project', null, true, SelectProject)"/>