<div id="adobe-dc-view"></div>
<script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
<script type="text/javascript">
	document.addEventListener("adobe_dc_view_sdk.ready", function(){
		var adobeDCView = new AdobeDC.View({clientId: "e2efc4229b334f80bec6fed4803c530b", divId: "adobe-dc-view"});
		adobeDCView.previewFile(
			{
				content:{location: { url: "{{ preview }}" }},
				metaData:{fileName: "{{ file_name }}" }
			}, 
			{ 
				showAnnotationTools: true
			}
		);


		/* Options to control save behavior */
		const saveOptions = {
								autoSaveFrequency: 0,
								enableFocusPolling: false,
								showSaveButton: true
							}

		/* Register save callback */
		adobeDCView.registerCallback(
			AdobeDC.View.Enum.CallbackType.SAVE_API,
			function(metaData, content, options) {
				return new Promise((resolve, reject) => {
					var fdUploadFile = new FormData();
					fdUploadFile.append('data', JSON.stringify({
															file_name: '{{ file_name }}',
															project_name: '{{ project_name }}',
															parent_id: '{{ parent_id }}',
															ic_id: '{{ ic_id }}'
														})
					);
					blob = new Blob([new Uint8Array(content, 0, content.length)]);
					fdUploadFile.append('file', blob);

					$.ajax({
						url: "/update_file",
						type: 'POST',
						data: fdUploadFile,
						processData: false,
						contentType: false,
						timeout: 5000,
						success: function(data) {
							console.log(data);
							MakeSnackbar(data);
							resolve({
								code: AdobeDC.View.Enum.ApiResponseCode.SUCCESS,
								data: {
								metaData: Object.assign(metaData, {fileName: "{{ file_name }}" })
								}
							})
						},
						error: function($jqXHR, textStatus, errorThrown) {
							console.log(errorThrown + ": " + $jqXHR.responseText);
							MakeSnackbar($jqXHR.responseText);
							reject({
								code: AdobeDC.View.Enum.ApiResponseCode.FAIL,
								data: {
								}
							});
							if ($jqXHR.status == 401) {
								location.reload();
							}
						}
					});

				});
			},
			saveOptions
		);

		const profile = {
			userProfile: {
				name: "{{ user['username'] }}",
				email: "{{ user['email'] }}"
			}
		};

		adobeDCView.registerCallback(
			AdobeDC.View.Enum.CallbackType.GET_USER_PROFILE_API,
			function() {
				return new Promise((resolve, reject) => {
					resolve({
						code: AdobeDC.View.Enum.ApiResponseCode.SUCCESS,
						data: profile
					});
				});
			},
		{});

	});
</script>