<h3>Rename {{ old_name }}</h3>
<div class="scroll">
  <input type="hidden" name="parent_id" value="{{ parent_id }}" required />
  <input type="hidden" name="ic_id" value="{{ ic_id }}" required />
  <input type="hidden" name="project_name" value="{{ project_name }}" required />
  <input type="hidden" name="parent_path" value="{{ parent_path }}" required />
  <input type="hidden" name="old_name" value="{{ old_name }}" required />
  <div class="form__group field">
    <input type="input" class="form__field" name="new_name" value="{{ old_name }}" required />
    <label for="rename_new_name" class="form__label">New name</label>
  </div>
  <div class="form__group field">
    <input type="checkbox" class="form__field" name="is_directory"/ {% if is_directory %} checked {% endif %}>
    <label for="rename_is_dir" class="form__label">Is directory</label>
  </div>
  <br>
</div>
<input type="button" value="Rename" onclick="FormSubmit('rename_ic', null, true, CreateProject)"/>