<h3>Rename {{ old_name }}</h3>
<div class="scroll">
  <input type="hidden" name="parent_id" value="{{ parent_id }}" required />
  <input type="hidden" name="ic_id" value="{{ ic_id }}" required />
  <input type="hidden" name="project_name" value="{{ project_name }}" required />
  <input type="hidden" name="parent_path" value="{{ parent_path }}" required />
  <input type="hidden" name="old_name" value="{{ old_name }}" required />
  <input type="hidden" name="is_directory" value="{{ is_directory }}" required />
 <div id="smart_naming">
  <div class="form__group_popup_new" id="name_div">
    <input type="text" class="form__field_popup_rename" name="new_name" id='new_name' required/>
    <label for="new_name" class="form__label">New name</label>
  </div>
  <br>
</div>
<input type="button" class="popup_button keypress" value="Rename" onclick="FormSubmit('rename_ic', null, true, () => {location.reload();})"/>