<div id="renameModal" class="modal">
<!-- Modal content -->
<div class="modal-content", id="rename-modal-content">
  <span class="close4">&times;</span>
  <p>Rename</p>
  <form id="renameFormId" enctype="multipart/form-data" onsubmit="return submit();">
    <div class="form__group field">
      <input type="input" class="form__field" name="rename_project_name" id='rename_project_name' value="test-project" required />
      <label for="rename_project_name" class="form__label">Project name</label>
    </div>
    <div class="form__group field">
      <input type="input" class="form__field" name="rename_ic_path" id='rename_ic_path' value="app/test_files" required />
      <label for="rename_ic_path" class="form__label">Path</label>
    </div>
    <div class="form__group field">
      <input type="input" class="form__field" name="rename_old_name" id='rename_old_name' value="123" required />
      <label for="rename_old_name" class="form__label">Old name</label>
    </div>
    <div class="form__group field">
      <input type="input" class="form__field" name="rename_new_name" id='rename_new_name' required />
      <label for="rename_new_name" class="form__label">New name</label>
    </div>
    <div class="form__group field">
      <input type="checkbox" class="form__field" name="rename_is_dir" id='rename_is_dir' />
      <label for="rename_is_dir" class="form__label">Is directory</label>
    </div>
    <br>
    <input type="button" id="rename_ic_btn" value="Rename" />
  </form>
</div>
</div>