<h3>Move "{{ delete_name }}" to trash?</h3>
<div class="scroll">
  {% if not multi %}
  <input type="hidden" name="parent_id" value="{{ parent_id }}" required />
  <input type="hidden" name="project_id" value="{{ project_id if project_id is defined }}" required />
  <input type="hidden" name="ic_id" value="{{ ic_id }}" required />
  <input type="hidden" name="project_name" value="{{ project_name }}" required />
  <input type="hidden" name="parent_path" value="{{ parent_path }}" required />
  <input type="hidden" name="delete_name" value="{{ delete_name }}" required />
  <input type="hidden" name="is_directory" value="{{ is_directory }}" required />
  {% endif %}
  
{% if parent_id == 'root' %}
<div class="form__group field" style="height: 100px;">
    <label for="confirm_delete" class="form__label" >Type "delete" to trash project</label>
    <br/>
    <input type="text" id="confirm_delete" name="confirm_delete"/>
</div>

<script>
    $("#confirm_delete").on("input", function(){
        $("#confirm_button").prop("disabled", !($(this).val().toLowerCase() === "delete"));
    });
</script>
{% else %}
<div class="form__group field" style="height: 100px;">
    <label for="confirm_delete" class="form__label" >Are you sure?</label>
</div>
{% endif %}

<input type="button" value="Confirm" id="confirm_button" {{ 'disabled' if parent_id == 'root' }}
    onclick="FormSubmit({% if not multi %}'trash_ic', null{% else %}'get_trash_ic_multi', MULTI{% endif %}, true, 
    {% if parent_id == 'root' %} 
        SelectProject
    {% else %} 
        GetProject 
    {% endif %})"/>