<!--<h3>Choose Folder</h3>-->
<!--    <div class="picker"><input type="file" id="picker" allowdirs webkitdirectory mozdirectory msdirectory odirectory directory multiple></div>-->
<!--    <br>-->
<!--    <span id="listing"></span>-->
<!--    <span id="box"></span>-->

<!--<div class="drop-area" id="drop-area-folders">-->
<!--<p>Upload project by dragging and dropping folder onto the dashed region</p>-->
<!--<input type="file" id="upload_project" name="upload_project" directory allowdirs webkitdirectory>-->
<!--<label class="button" for="upload_project">Select project</label>-->
<!--</div>-->

  <div id="dropArea" class="area">
      <p>Drop your project here!</p>
    <input id="file" type="file" title="If you want to select project, empty folders will not be uploaded.
    In order to enable that functionality, please use drag&drop" directory allowdirs webkitdirectory/>
  </div>
<br>
    <span id="listing"></span>
    <span id="box"></span>
    <span id="wait"></span>