<h3>Upload New File</h3>
<div id="upload_files_div" class="scroll" style="height: 300px">
  <input type="hidden" name="parent_id" value="{{ parent_id }}" required />
  <input type="hidden" name="ic_id" value="{{ ic_id }}" required />
  <input type="hidden" id="project_name" name="project_name" value="{{ project_name }}" required />
    <!--  <input type="hidden" id="project_code" name="project_code" value="{{ project_code }}" required />-->
    <!--  <input type="hidden" id="company_code" name="company_code" value="{{ company_code }}" required />-->
  <input type="hidden" id="parent_path" name="parent_path" value="{{ project_path }}" required />
  <input type="hidden" id="is_file" name="is_file" value="{{ is_file }}" required />

    <table id="smart_naming" style="width:100%">
        <tr>
          <th class="file_naming_titles">Project Code</th>
          <th class="file_naming_titles">Company Code</th>
          {% for key, value in inputs.items() %}
              <th class="file_naming_titles">{{ value.name }}</th>
            {% endfor %}
            <th class="file_naming_titles">Description</th>
          <th class="file_naming_titles">Extension</th>
        </tr>
    </table>

  <br>
</div>
<input id="upload_files_button" type="button" class="popup_button keypress" value="Upload" onclick="UploadFiles()"/>

<span id="listing"></span>
<span id="box"></span>
<span id="wait"></span>