
  <th class="file_naming_field">
    <input type="text" class="form__field_popup ext" name="project_code" value="{{ project_code }}" readonly /> <!-- oninput="changeColor(this)" -->
  </th>

  <th class="file_naming_field">
    <input type="text" class="form__field_popup ext" name="company_code" value="{{ company_code }}" readonly />  <!-- oninput="changeColor(this)" -->
  </th>

  {% for key, value in inputs.items() %}
        {% if key.strip() == 'file_number' %}
        <th class="file_naming_field">
            <input list="file_numbers" class="form__field_popup" name="file_number" id="file_number" onchange="setCodeValue(this);" />  <!-- oninput="changeColor(this)" -->
            <datalist class="form__field_popup" id="file_numbers" name="file_numbers" onchange="changeValues(this)" onblur="SelectBlur(this)" onfocus="SelectFocus(this)">
                {% for v in value.elements %}
                    <option value="{{ v }}" data-descr="{{ v.split(',')[1] }}">{{ v.split(',')[0] }}</option>
                {% endfor %}
            </datalist>
        </th>
        {% elif key != 'file_number' %}
        <th class="file_naming_field">
            <select class="form__field_popup shortened-select" name="{{ key }}" onchange="changeColor(this)" onblur="SelectBlur(this)" onfocus="SelectFocus(this)">
                {% for v in value.elements %}
                    <option value="{{ v }}" data-descr="{{ v.split(',')[1] }}" >{{ v.split(',')[0] }}</option>
                {% endfor %}
            </select>
        </th>
        {% endif %}
  {% endfor %}

  <th class="file_naming_field">
    <select class="form__field_popup" name="uniclass_2015" >
      <option></option>
    </select>
  </th>

  <th class="file_naming_field_name">
    <input class="file_naming_field_name" name="name" value="Default" oninput="changeColor(this)"/>
  </th>
  <th class="file_naming_field">
    <input type="text" class="form__field_popup ext" name="file_extension" value="" readonly />
  <th>
