
/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #bbb;
  /*border-bottom: none;*/
  border-top: none;
  z-index: 99;
  width: 100%;
  top: 100%;
  color: #bbb;
  font-family: monospace;
  background-color: rgba(50, 50, 50, 0.7);
}

.autocomplete-items div {
  cursor: pointer;
  color: #bbb;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #000;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: #000 !important;
  color: #fff;
}

.suggestions {
  border: 0px solid #999;
  display: none;
}

.suggestions > div {
  padding : 15 px;
  padding-left: 5px;
  font-size: 20 px;
  color: #000;
  background-color: rgba(255,255,255,0.5);
  border: 1px solid #bbb;
  border-radius: 15px;
  cursor : pointer;
}