@import url("../common/colors.css");

.sidebar
{
    width: 4vw;
    min-width: 64px;
    height: 100vh;
    
    background: var(--dashboard-bg-light);
    transition: all .3s ease;
}

.sidebar:hover
{
    transition: all .3s ease;
}

.sidebar ul
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar li
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sidebar li img {
    display: block;
    width: 100%;
    height: auto;

    object-fit: contain;

    margin-left: auto;
    margin-right: auto;
    
    transition: .1s all ease;
}

.sidebar li img:hover{
    -webkit-filter: drop-shadow(0px 0px 3px var(--neon-blue));
    filter: drop-shadow(0px 0px 3px var(--neon-blue));

    transition: .1s all ease;
}

.sidebar:hover li img
{
}

.sidebar li:nth-last-child(1)
{
    margin-top: auto;
}

.topbar, .activity-tab-menu
{
    min-height: 40px;
    height: 4vh;
    background-color: var(--side-menu);
}

.topbar
{
    display: block;
    width: 100%;
}

.path-link
{
    cursor: pointer;
}

.path-link:hover
{
    color: var(--neon-blue);
}