@import url("../common/colors.css");

/*This is the default Menu position (collapsed)*/
.menu-fixed {
  background-color: var(--side-menu);
  width: 5%; /*5%*/
  z-index: 2;
  height: 100%;
  transition: all 0.3s;
  -webkit-box-shadow: 10px 0px 10px rgba(255,255,255, 0.19), 8px 0px 10px rgba(255, 255, 255, 0.23);
  -moz-box-shadow: 10px 0px 10px rgba(255, 255, 255, 0.19), 8px 0px 10px rgba(255, 255, 255, 0.23);
  box-shadow: 10px 0px 10px rgba(255, 255, 255, 0.19), 8px 0px 10px rgba(255, 255, 255, 0.23);
  text-align: center;
  overflow: auto;
}

/*This is the Menu when it is collapsed*/
.menu-fixed.closed {
  width: 5%; /*5%*/
  /*background-color: #0a1522;*/
  transition: all 0.3s;
}
.menu-fixed.closed > a .material-icons.back {
  display: none;
}
.menu-fixed > .menu li {
  text-align: center;
  width: 40%;/*40%*/
}
.menu-fixed.closed > .menu li > p, .menu-fixed.closed > .menu li > a {
  display: none;
}

.menu-fixed .material-icons.back {
  display: none;
  color: black;
  float: left;
  left: 10px;
  top: 10px;
  font-size: 36px;
  cursor: pointer;
  transition: color 0.3s;
}
.menu-fixed .material-icons.back:hover {
  color: #fff;
  transition: color 0.3s;
}

/*This is the OPENED Menu*/
.menu-fixed.opend {
  width: 12%;
  /*background: #000;*/
  transition: all 0.3s ease-out;
}
.menu-fixed.opend > .notes {
  transition: all 0.2s;
  z-index: 0;
  opacity: 0;
}
.menu-fixed.opend > a .material-icons.back {
  display: block;
}
.menu-fixed.opend > a > .logo {
  width: 60%;
  height: 47px;
  margin: auto;
}
.menu-fixed.opend > a > .logo > span {
  display: none;
}
.menu-fixed.opend > a > .logo > p {
  display: block;
}
.menu-fixed.opend > .menu li {
  text-align: left;
  width: 70%;
}

/*When the Menu is opened what happens when you hover over the icons*/
.menu-fixed.opend > .menu li:hover::after {
  content: '';
  display: block;
  position: absolute;
  /*background: rgba(0, 0, 0, 0.5); The background of the hovered icon*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
}

/*When the Menu is opened what color is the text next to the icons*/
.menu-fixed.opend > .menu li:hover > p, .menu-fixed.opend > .menu li:hover > a {
  color: white;
}
.menu-fixed.opend > .menu li > p, .menu-fixed.opend > .menu li > a {
  display: inline-block;
}

.menu-fixed .logo {
  width: 100%;
  height: 70px;
  position: relative;
  cursor: pointer;
}

/*This is the "logo" at the moment the name "Supper Leggera"*/
.menu-fixed .logo p {
  display: none;
  color: #000;
  font-size: 26px;
  padding-bottom: 0;
  font-weight: 700;
}

/*This is the transition logo of the menu*/
.menu-fixed .logo span {
  display: block;
  width: 10px;
  height: 10px;
  background: var(--side-menu-logo-bg);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 25px;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  border: 8px solid white;
  transition: all 0.2s;
  box-sizing: initial;
}
.menu-fixed .logo:hover ~ p {
  color: white; /*I do not see the effect of this at the moment*/
  transition: all 0.3s;
}
.menu-fixed .logo:hover > span {
  width: 0;
  height: 0;
  border-left: 15px solid white; /*This is the color of the part of the logo when hovered*/
  border-right: 15px solid rgba(0, 0, 0, 0);
  border-top: 15px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  transition: all 0.2s;
  transform: rotateZ(0deg) translateX(10px);
  -webkit-transform: rotateZ(0deg) translateX(10px);
}
.menu-fixed .logo:hover > span::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid #18bec9; /*This is the little arrow of the logo when hovered*/
  border-right: 8px solid rgba(0, 0, 0, 0); /*These 3 appear to have no effect at all*/
  border-top: 8px solid rgba(0, 0, 0, 0);
  border-bottom: 8px solid rgba(0, 0, 0, 0);
  left: -15px;
  position: absolute;
  top: -8px;
}

/*This is the little text under the Logo text - not used at the moment*/
.menu-fixed .pmenu {
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 300;
}

/*The horizontal line that separates the logo and the icons*/
.menu-fixed hr {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.menu-fixed .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.menu-fixed .menu li {
  padding: 20px 0px 20px 0px;
  /*padding: 15px; adding around the icons*/
  width: 40%;
  margin: auto;
  border-bottom: none; /*1px solid rgba(255, 0, 0, 0.1); /*a line between the icons*/
  /*border-bottom-style: dotted;*/
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
}
.menu-fixed .menu li:last-child {
  border: none;
}
.menu-fixed .menu li:hover {
  /*background: #121212; This is the background of the side menu icons*/
  transition: all 0.3s;
}
.menu-fixed .menu li:hover > .material-icons {
  color: white; /*This is the color of the icon when you hover over it*/
}
.menu-fixed .menu li .material-icons {
  color: rgba(51, 68, 69, 0.8); /*This is the color of the actual icon*/
}

/*Text next to the icon in the expanded menu*/
.menu-fixed .menu li p, .menu-fixed .menu li a {
  display: none;
  z-index: 1;
  margin: auto;
  color: #000; /*This is the color of the text next to the icon (in an expnaded menu)*/
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  padding-top: 10px;
  padding-left: 30px;
  line-height: 30px;
  text-shadow: 1px 1px 8px #fff;
}

.material-icons.info {
  color: #eb4034; /*I see no effext for this*/
  position: absolute;
  margin: 0;
  bottom: 20px;
  left: 0;
  right: 0;
}

#page {
  width: 700px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
}
#page svg {
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: linear-gradient(180deg, #1B2734 5.11%, #000000 100%);
  z-index: 1;
}