<div class="sidebar">
    <ul class="list-unstyled">
        <li class="profile-icon-container mt-2" id="side_menu_profile_picture" onclick="UserProfile()">
            <img class="profile-icon" src="/get_profile_image/{{ picture }}"/>
        </li>

        <li onclick="SelectProject()">
            <svg class="sidebar_svg" width="100%" height="100%" viewBox="0 0 35 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                <g transform="matrix(1,0,0,1,-668,-67.2815)">
                    <g id="Project" transform="matrix(1,0,0,1,0,2.2815)">
                        <rect x="668" y="65" width="5" height="33"/>
                        <rect x="684" y="65" width="19" height="19"/>
                    </g>
                </g>
            </svg>
        </li>
    
        <li onclick="SelectMarket()">
            <svg class="sidebar_svg" width="100%" height="100%" viewBox="0 0 38 28" version="1.1" xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" 
                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                <g transform="matrix(1,0,0,1,-734.056,-69.8445)">
                    <g id="Marketplace" transform="matrix(1,0,0,1,99.0558,-60.1555)">
                        <g transform="matrix(1,0,0,1,-32,-33)">
                            <path d="M667,163L681.147,177.147L667,190.874C667.419,190.874 667,163 667,163Z"/>
                        </g>
                        <g transform="matrix(1,0,0,1,-32,-33)">
                            <path d="M705,163L705,190.874L675,190.874L705,163"/>
                        </g>
                    </g>
                </g>
            </svg>
        </li>
    
        <li onclick="Select3D()">
            <svg class="sidebar_svg" width="100%" height="100%" viewBox="0 0 28 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                <g transform="matrix(1,0,0,1,-803.112,-65.7815)">
                    <g id="_3D" serif:id="3D" transform="matrix(1,0,0,1,132,-188.218)">
                        <g transform="matrix(1.06667,0,0,1.08297,-46.6,-21.0756)">
                            <rect x="684" y="254" width="15" height="15"/>
                        </g>
                        <g transform="matrix(2.33982,0,0,3.95108,-897.736,-851.861)">
                            <rect x="670.5" y="284" width="8.5" height="5"/>
                        </g>
                    </g>
                </g>
            </svg>
        </li>
    
        <li>
            <ul class="list-unstyled">
                <li onclick="SelectTrash()">
                    <svg class="sidebar_svg" width="100%" height="100%" viewBox="0 0 29 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g transform="matrix(1,0,0,1,-862.056,-64.7815)">
                            <g id="Trash" transform="matrix(1,0,0,1,190.944,-682.218)">
                                <rect x="671.112" y="747" width="28.888" height="3"/>
                                <g transform="matrix(1,0,0,1,0.0557738,0)">
                                    <rect x="677" y="753" width="17" height="32"/>
                                </g>
                            </g>
                        </g>
                    </svg>
                </li>
            
                <li onclick="window.location='/logout';">
                    <svg class="sidebar_svg" width="100%" height="100%" viewBox="0 0 27 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g transform="matrix(1,0,0,1,-922,-68.2815)">
                            <g id="Logout" transform="matrix(1,0,0,1,253,-746.718)">
                                <path d="M696,815L696,846L669,831L696,815Z"/>
                            </g>
                        </g>
                    </svg>
                </li>
            </ul>   
        </li>
    </ul>
</div>
<script src="{{ url_for('static', filename='js/menu/menu.js') }}" charset="utf-8"></script>