<td class="menu-fixed" id="index-menu">
  <a class="close" name="menu">
    <i class="material-icons back">&#xE314;</i>
  </a>
  <a class="open" name="menu">
    <div class="logo">
      <span></span>
      <p>BOHM</p>
    </div>
    <!--<p class="pmenu">MENU</p>-->
  </a>
  <hr>
  <ul class="menu">
    <li class="menu-link" onclick="UserProfile()"><i class="material-icons w3-xxlarge">account_circle</i><p>{{ username }}</p></li>
    <li class="menu-link" onclick="SelectProject()"><i class="material-icons w3-xxlarge">touch_app</i><p>Project</p></li>
    <li class="menu-link" onclick="GetMarket()"><i class="material-icons w3-xxlarge">&#xE8CC;</i><p>Market</p></li>
    <li class="menu-link" href="/logout"><i class="material-icons w3-xxlarge">follow_the_signs</i><p>Logout</p></li>
    <li class="menu-link" href="/clear_projects"><i class="material-icons w3-xxlarge">delete</i><p>clear_db</p></li>
    <li class="menu-link" href="/upload_project"><i class="material-icons w3-xxlarge">&#xE87A;</i><p>upload_project</p></li>
  </ul>
</td>
<script src="{{ url_for('static', filename='js/menu/menu.js') }}" charset="utf-8"></script>


