<div class="sidebar">
    <ul class="list-unstyled">
        <li class="profile-icon-container mt-2" onclick="UserProfile()">
            <img class="profile-icon" src="/get_profile_image/{{ picture }}"/>
        </li>

        <li onclick="SelectProject()">
            <img src="{{url_for('static', filename='img/side_menu/bauhaus_projects.png')}}"/>
        </li>
    
        <li onclick="SelectMarket()">
            <img src="{{url_for('static', filename='img/side_menu/bauhaus_marketplace.png')}}"/>
        </li>
    
        <li onclick="Select3D()">
            <img src="{{url_for('static', filename='img/side_menu/bauhaus_3d.png')}}"/>
        </li>
    
        <li>
            <ul class="list-unstyled">
                <li onclick="SelectTrash()">
                    <img src="{{url_for('static', filename='img/side_menu/icon_trash.png')}}"/>
                </li>
            
                <li onclick="window.location='/logout';">
                    <img src="{{url_for('static', filename='img/side_menu/icon_exit.png')}}"/>
                </li>
            </ul>   
        </li>     
    </ul>
</div>
<script src="{{ url_for('static', filename='js/menu/menu.js') }}" charset="utf-8"></script>